.custom-input-size-quantidade {
    width: 45px;
    height: 30px;
}

.custom-input-size-medida {
    width: 65px;
    height: 30px;
}

.custom-input-size-select {
    width: 155px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-size-selectitems {
    width: 325px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-qtd {
    width: 40px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-posicao {
    width: 110px;
    height: 30px;
    padding: 1px 10px;
}

.hidden {
    display: none;
}

.custom-input-size {
    width: 200px;
    height: 30px;
}

.custom-input-divisorias {
    width: 400px;
    height: 30px;
    padding: 1px 10px;
}

.mghr {
    margin-top: 10px;
    margin-bottom: 10px;
}


.img-responsive {
  max-width: 100%;
  height: auto;
}

.svg-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

:root {
  --primary-color: #0275d8;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}


.container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  transition: all 300ms ease;
}

.input-container ion-icon {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.input-container i {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.input-container label {
  color: var(--primary-color);
  font-size: 0.70rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:checked+.radio-tile {
  background-color: var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
  transform: scale(1.1);
}

input:hover+.radio-tile {
  box-shadow: 0 0 12px var(--primary-color);
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
  color: white;
}

input:checked+.radio-tile i,
input:checked+.radio-tile label {
  color: white;
}
