.custom-input-size-quantidade {
    width: 45px;
    height: 30px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-size-medida {
    width: 65px;
    height: 30px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-size-select {
    width: 125px;
    height: 30px;
    padding: 1px 10px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-size-selectitems {
    width: 315px;
    height: 30px;
    padding: 1px 3px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-qtd {
    width: 30px;
    height: 30px;
    padding: 0px 8px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-posicao {
    width: 95px;
    height: 30px;
    padding: 1px 0px 0px 3px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.hidden {
    display: none;
}

.custom-input-size {
    width: 200px;
    height: 30px;
    font-size: 14px; /* Tamanho da fonte desejado */
}

.custom-input-divisorias {
    width: 400px;
    height: 30px;
    padding: 1px 10px;
}

.mghr {
    margin-top: 10px;
    margin-bottom: 10px;
}


.img-responsive {
  max-width: 100%;
  height: auto;
}

.svg-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

:root {
  --primary-color: #0275d8;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}


.container {
  width: 100%;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  transition: all 300ms ease;
}

.input-container ion-icon {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.input-container i {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.input-container label {
  color: var(--primary-color);
  font-size: 0.70rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:checked+.radio-tile {
  background-color: var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
  transform: scale(1.1);
}

input:hover+.radio-tile {
  box-shadow: 0 0 12px var(--primary-color);
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
  color: white;
}

input:checked+.radio-tile i,
input:checked+.radio-tile label {
  color: white;
}

#nomeporta, #valorporta, #qtditens {
    font-size: 0.9vw; /* Define o tamanho da fonte como 3% da largura da viewport */
}

#Divisor-A:hover, #Divisor-B:hover, #Divisor-C:hover {
    cursor: pointer; /* Mudar o cursor ao passar o mouse sobre o divisor */
}

.border {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#listabotoes, #selecionacliente {
    margin-bottom: 2px; /* Espaço entre os elementos */
    height: 100px; /* Defina a altura desejada */
    min-width: 50%;
}

#escolhas, #meu {
    margin-bottom: 2px; /* Espaço entre os elementos */
}

.container-flex {
    display: flex;
    align-items: stretch; /* Estica as colunas para a altura do container */
}

#meu, #escolhas {
    min-height: 440px; /* Altura mínima */
    max-height: 610px; /* Altura máxima */
}

#tabelaOrcamento, #tabelaInsumos {
    min-height: 4px; /* Altura mínima */
}

#escolhas, #meu, .coluna1, .coluna2 {
  flex-grow: 1; /* A primeira coluna vai crescer para preencher o espaço disponível */
}

.coluna1, .coluna2 {
    margin-bottom: 60px;
}


h2 {
  margin-bottom: 0; /* Remover margem inferior do h2 */
}

.table-container {
  max-height: 160px; /* Defina o tamanho máximo desejado */
  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

.table-container table {
    width: 100%; /* Garante que a tabela ocupe toda a largura do contêiner */
}

.table-container thead,
.table-container h2 {
    position: sticky; /* Fixa o cabeçalho na parte superior quando o contêiner é rolado */
    top: 0; /* Alinha o cabeçalho na parte superior */
    z-index: 1; /* Garante que o cabeçalho esteja acima do conteúdo da tabela */
    background-color: #f8f9fa; /* Cor de fundo para distinguir o cabeçalho */
}

#bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px; /* Defina a altura desejada aqui */
 }

#bottom-navbar .button-container {
    padding: 0; /* Remover o preenchimento padrão */
}

#bottom-navbar a {
    color: white; /* Defina a cor do texto conforme necessário */
    margin-right: 10px; /* Adicione um espaço entre o texto e o botão */
}

#tabelaInsumos, #tabelaOrcamento th {
    font-size: 14px; /* Altere o valor conforme desejado */
}

/* Definindo o tamanho da fonte para o conteúdo */
#tabelaInsumos, #tabelaOrcamento td {
    font-size: 14px; /* Altere o valor conforme desejado */
}

#qtditens, #nomeporta, #valorporta {
    font-size: 14px;
}

#clienteInput {
    height: 25px;
    font-size: 14px;
    max-width: 100px;
}

#btnBuscarCliente {
    height: 25px;
    padding: 0 8px;
}
#btnBuscarCliente i {
    font-size: 12px;
}

#nomeCliente {
    height: 25px;
    font-size: 14px;
}

#tabelaOrcamento th:nth-child(1),
#tabelaOrcamento td:nth-child(1) {
    width: 4%;
}

#tabelaOrcamento th:nth-child(2),
#tabelaOrcamento td:nth-child(2) {
    width: 5%;
}

#tabelaOrcamento th:nth-child(3),
#tabelaOrcamento td:nth-child(3) {
    width: 75%;
}

#tabelaOrcamento th:nth-child(4),
#tabelaOrcamento td:nth-child(4) {
    width: 15%;
}

---------------------

#tabelaInsumos th:nth-child(1),
#tabelaInsumos td:nth-child(1) {
    width: 5%;
}

#tabelaInsumos th:nth-child(2),
#tabelaInsumos td:nth-child(2) {
    width: 10%;
}

#tabelaInsumos th:nth-child(3),
#tabelaInsumos td:nth-child(3) {
    width: 55%;
}

#tabelaInsumos th:nth-child(4),
#tabelaInsumos td:nth-child(4) {
    width: 10%;
}

#tabelaInsumos th:nth-child(5),
#tabelaInsumos td:nth-child(5) {
    width: 10%;
}

#tabelaInsumos th:nth-child(6),
#tabelaInsumos td:nth-child(6) {
    width: 10%;
}

#selecionacliente h2 {
    margin-top: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#inputsclientes {
    margin-top: 10px;
    margin-bottom: 10px;
}

#selecionacliente #nomeCliente {
    width: calc(100% - 10px); /* Largura total menos 20px de margem */
    margin: 0 5px; /* Margem de 10px em cada lado */
}

#cifraoporta{
    font-size: 14px;
}

#labeldototal {
    color: white;
    margin-right: 2px;
}

#valorfinalpedido {
    color: white;
    margin-right: 5px;
}

#bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
}

#bottom-navbar .btn {
  margin-top: 5px; /* Empurra o botão para a direita */
}

#labeldototal, #valorfinalpedido {
  margin-top: 5px; /* Empurra o botão para a direita */
}


@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Muda para layout de coluna */
    padding: 0;
  }

  #topnavbar, #bottom-navbar {
    flex-direction: row; /* Muda para layout de coluna */
  }

  #listabotoes,
  #selecionacliente,
  #escolhas,
  #meu,
  .coluna1,
  .coluna2 {
    width: 100%; /* Largura total */
  }

  #selecionacliente {
    order: -1;
    margin-top: 5px;
  }

  .coluna1 {
  margin-bottom: 60px;
  }

  .coluna2 {
  order: -1;
  margin-bottom: 5px;
  }

  #bottom-navbar {
    align-items: center;

  }
}




