<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" role="dialog"
     aria-labelledby="addModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp;
                    Cadastrar Cliente {% endblock modal-title %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Form -->
            <form {% block action %} action="/cadastrar/clientes" {% endblock action %} method="POST" autocomplete="off">
                {% csrf_token %}

                <div class="modal-body">

                    <!--===== Block ID (denied here) ====-->
                    {% block value-id %}{% endblock value-id %}

                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fab fa-buffer"></i></span>
                        <input type="text" class="form-control" name="codigo" id="codigo" maxlength="6" placeholder="Codigo" required {% block value-codigo %}{% endblock value-codigo %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fas fa-signature"></i></span>
                        <input type="text" class="form-control" name="nome" id="nome" maxlength="40" placeholder="Nome do Cliente" required {% block value-nome %}{% endblock value-nome %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="bi bi-123"></i></span>
                        <input type="text" class="form-control" name="cpf_cnpj" id="cpf_cnpj" maxlength="40" placeholder="CPF/CNPJ" required {% block value-cpf_cnpj %}{% endblock value-cpf_cnpj %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="bi bi-geo-alt-fill"></i></span>
                        <input type="text" class="form-control" name="cep" id="cep" maxlength="40" placeholder="CEP" required {% block value-cep %}{% endblock value-cep %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fas fa-road"></i></span>
                        <input type="text" class="form-control" name="logradouro" id="logradouro" maxlength="40" placeholder="Logradouro" required {% block value-logradouro %}{% endblock value-logradouro %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="bi bi-123"></i></span>
                        <input type="text" class="form-control" name="numero" id="numero" maxlength="40" placeholder="Numero" required {% block value-numero %}{% endblock value-numero %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fas fa-map"></i></span>
                        <input type="text" class="form-control" name="bairro" id="bairro" maxlength="40" placeholder="Bairro" required {% block value-bairro %}{% endblock value-bairro %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fas fa-city"></i></span>
                        <input type="text" class="form-control" name="cidade" id="cidade" maxlength="40" placeholder="Cidade" required {% block value-cidade %}{% endblock value-cidade %}>
                    </div>
                    <div class="input-group mb-3">
                        <span class="side-label btn border-secondary bg-light"><i class="fas fa-phone"></i></span>
                        <input type="text" class="form-control" name="telefone" id="telefone" maxlength="40" placeholder="Telefone" required {% block value-telefone %}{% endblock value-telefone %}>
                    </div>

                    <div class="mt-4" style="width: 100%">
                        {% block btn-action %}
                        <button type="submit" class="btn btn-secondary mb-3">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp; Cadastrar Cliente
                        </button>
                        {% endblock btn-action %}
                        <a href="{% url 'listar-clientes' %}" {% block btn-back %}{% endblock btn-back %}
                           class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Back">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Reset">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    </div>

                    <!-- ==== Block btn save-hidden (denied here) ===== -->
                    {% block btn-saveHidden %}{% endblock btn-saveHidden%}

                    {% block save-changes %}{% endblock save-changes%}

                </div>
            </form>

        </div>
    </div>
</div>