{% extends "base.html" %}

{% block titulo %} {% endblock %}

{% block head %} {% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="mt-5 module">
        {% if form.errors %}
            <p>O usuário e/ou senha não conferem. Tente novamente.</p>
        {% else %}
            <p>Por favor informe seus usuário e senha.</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Login" </p>
            </form>
        </div>
    </div>

{% endblock %}