{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block titulo %}
Adrofecha - Orçamento
{% endblock %}

{% block content %}
<div class="border" style="margin-top: 45px">
    <header class="mt-2 p-1 d-flex inline-block" id=listabotoes>
            <div class="input-group ms-2" role="group" id="btnradios" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnPortaGiro" checked="checked" value="PortaGiro" autocomplete="off">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnPortaGiro" style="height: 110px; width:140px">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="./static/images/PortaGiro.png"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnPortaCorrer" value="PortaCorrer" autocomplete="off">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnPortaCorrer">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="./static/images/PortaCorrer.png"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" value="DivisoriaAmbiente" id="btnDivisoria">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnDivisoria">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="./static/images/PortaDivisoria.png"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" value="Vidros" id="btnVidro">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnVidro">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="./static/images/Vidro.png"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
            </div>
    </header>
    <hr class="mx-2 mghr">
    <div class="row">
         <div class="row d-flex justify-content-between">
            <div class="col-6 border-end">
                <div>
                    <div class="row mb-1">
                        <div class="row mx-1">
                            <div class="mt-1 col d-flex align-items-center justify-content-start">
                                <label class="me-1" for="{{ form.quantidade.id_for_label }}">
                                    {{ form.quantidade.label_tag }}
                                    {% if form.quantidade.field.required %}{% endif %}
                                </label>
                                {{ form.quantidade|attr:"class:form-control custom-input-size-quantidade" }}
                            </div>
                            <div class="mt-1 col d-flex align-items-center justify-content-center">
                                <label class="me-1" for="{{ form.largura.id_for_label }}">
                                    {{ form.largura.label_tag }}
                                    {% if form.largura.field.required %}{% endif %}
                                </label>
                                {{ form.largura|attr:"class:form-control custom-input-size-medida" }}
                            </div>
                            <div class="mt-1 col d-flex align-items-center justify-content-end">
                                <label class="me-1" for="{{ form.altura.id_for_label }}">
                                    {{ form.altura.label_tag }}
                                    {% if form.altura.field.required %}{% endif %}
                                </label>
                                {{ form.altura|attr:"class:form-control custom-input-size-medida" }}
                            </div>
                        </div>
                        <form class="row mx-3 pt-2">
                            <div class="col-6 d-flex justify-content-center" id="divacabamento">
                                <label class="me-1" for="{{ form.acabamento.id_for_label }}">
                                    {{ form.acabamento.label_tag }}
                                    {% if form.acabamento.field.required %}{% endif %}
                                </label>
                                {{ form.acabamento|attr:"class:form-control custom-input-size-select" }}
                            </div>
                            <div class="col-6 d-flex justify-content-center" id="divabertura">
                                <label class="me-1" for="{{ form.abertura.id_for_label }}">
                                    {{ form.abertura.label_tag }}
                                    {% if form.abertura.field.required %}{% endif %}
                                </label>
                                {{ form.abertura|attr:"class:form-control custom-input-size-select" }}
                            </div>
<!--                            <div class="hidden col" id="divlinha">-->
<!--                                    <label class="me-1" for="{{ form.linha.id_for_label }}">-->
<!--                                        {{ form.linha.label_tag }}-->
<!--                                        {% if form.linha.field.required %}{% endif %}-->
<!--                                    </label>-->
<!--                                    {{ form.linha|attr:"class:form-control custom-input-size-select" }}-->
<!--                            </div>-->
                        </form>
                    </div>
                </div>
                <hr class="mx-2">
<!--                    Menu para giro e correr-->
                <div id="divportas" class="mt-1">
<!--                    Linha Perfil-->
                    <div class="mx-3">
                        <div class="row justify-content-start" id="divperfil" onchange="buscarPerfilPuxadores()>
                            <label for="{{ form.perfil.id_for_label }}">
                                {{ form.perfil.label_tag }}
                                {% if form.perfil.field.required %}{% endif %}
                            </label>
                            <div>
                                {{ form.perfil|attr:"class:form-control custom-input-size-selectitems selectPerfil" }}
                            </div>
                        </div>
                    </div>
<!--                    Linha Perfil Puxador-->
                    <div class="mx-3">
                        <div id="divperfilpuxador">
                            <label for="{{ form.perfilpuxador.id_for_label }}">
                                {{ form.perfilpuxador.label_tag }}
                                {% if form.perfilpuxador.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.perfilpuxador|attr:"class:form-control custom-input-size-selectitems selectPerfilPuxador" }}
                                </div>
                                <div id="selecao" class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1">
                                        <option value="1">1</option>
                                    </select>
                                    <select class="form-select custom-input-posicao flex-grow-1">
                                        <option value="1">Posição 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Puxador Sobreposto-->
                    <div class="mx-3">
                        <div id="divpuxador">
                            <label for="{{ form.puxador.id_for_label }}">
                                {{ form.puxador.label_tag }}
                                {% if form.puxador.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.puxador|attr:"class:form-control custom-input-size-selectitems selectPuxador" }}
                                </div>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1">
                                        <option value="1">1</option>
                                    </select>
                                    <select class="form-select custom-input-posicao flex-grow-1">
                                        <option value="1">Posição 1</option>
                                    </select>
                                    <select class="form-select custom-input-qtd flex-grow-1">
                                        <option value="1">1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Divisor-->
                    <div class="mx-3">
                        <div id="divdivisor">
                            <label for="{{ form.divisor.id_for_label }}">
                                {{ form.divisor.label_tag }}
                                {% if form.divisor.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.divisor|attr:"class:form-control custom-input-size-selectitems selectdivisor" }}
                                </div>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1">
                                        <option value="1">1</option>
                                    </select>
                                    <select class="form-select custom-input-posicao flex-grow-1">
                                        <option value="1">Posição 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Vidro-->
                    <div class="mx-3">
                        <div id="divvidro">
                            <label for="{{ form.vidro.id_for_label }}">
                                {{ form.vidro.label_tag }}
                                {% if form.vidro.field.required %}{% endif %}
                            </label>
                            <div class="me-1">
                                {{ form.vidro|attr:"class:form-control custom-input-size-selectitems selectVidro" }}
                            </div>
                        </div>
                    </div>
                </div>
<!--                menu para divisoria ambiente-->
<!--                Linha Superior-->
                <div id="divambiente" class="border hidden">
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Superior:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
<!--                    Linha Inferior-->
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Inferior:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
<!--                    Linha Lateral-->
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Lateral:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
<!--                    Linha Divisor Ambiente-->
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Divisor:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:30px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
<!--                    Linha Vidro Ambiente-->
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Vidro:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
                </div>
<!--                    menu para vidro-->
                <div id="divvidros" class="border hidden">
                    <div class="input-group row">
                      <label class="form-label mt-1 ms-3 mb-0" for="form1">Vidro:</label>
                      <div class="d-flex inline-block ms-3">
                        <input type="search" id="form1" class="form-control " style="width: 100px; height: 37px";>
                        <div class="ms-1" >
                            <select class="form-select" style="height: 35px; width:350px; ";>
                                <option value="1"> Opção 1 </option>
                            </select>
                        </div>
                      </div>
                    </div>
                </div>
<!--                botoes finalizar-->
                <div class="mt-1 text-end" style="height: 45px";>
                    <a class="btn btn-primary me-2 mt-1" id="btnpedidocancelar" style="width: 90px"; href="#" role="button">Cancelar</a>
                    <a class="btn btn-primary me-2 mt-1" id="btnpedidofinalizar" style="width: 90px"; href="#" role="button">Adicionar</a>
                </div>
            </div>
            <div class="border bg-danger-subtle col-6">
                 <div class="" style="height: 500px" ;>
                     Desenho Porta
                 </div>
            </div>
         </div>
         <div class="row d-flex justify-content-between">
            <div class=""><!-- Tabelas-->
               <div class="row mt-1 ms-1 mb-2">
                    <div class="col-6 border table-responsive">
                        <header>
                            <h2 class="bg-warning text-dark text-center fs-6 fw-bold">Insumos</h2>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                      <th scope="col">Id</th>
                                      <th scope="col">Código</th>
                                      <th scope="col">Descrição</th>
                                      <th scope="col">Quant(m)</th>
                                      <th scope="col">Valor</th>
                                      <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>010098</td>
                                      <td>3579 Anodizado (3579)</td>
                                      <td>4</td>
                                      <td>R$42,50</td>
                                      <td>R$170,52</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>013799</td>
                                      <td>4007 Anodizado (4007)</td>
                                      <td>2</td>
                                      <td>R$58,07</td>
                                      <td>R$116,13</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>008787</td>
                                      <td>Acidato Prata 4MM</td>
                                      <td>2</td>
                                      <td>R$245,50</td>
                                      <td>R$491,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </header>
                    </div>
                    <div class="col-6 border table-responsive">
                        <header>
                            <h2 class="bg-warning text-dark text-center fs-6 fw-bold ">Itens do Orçamento</h2>
                                <table class="table table-sm ">
                                    <thead>
                                        <tr>
                                          <th scope="col">Id</th>
                                          <th scope="col">Qt</th>
                                          <th scope="col">Descrição</th>
                                          <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>1</td>
                                          <td>Porta 3579/204 Anodizado 4mm</td>
                                          <td>R$100,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>2</td>
                                          <td>Porta 3579 Anodizado 4mm</td>
                                          <td>R$256,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>4</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$256,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">4</th>
                                          <td>5</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$229,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">5</th>
                                          <td>6</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$310,00</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </header>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<script>

//Escolha de div conforme o modelo de porta
const radioButtons = document.querySelectorAll('input[type="radio"][name="btnradio"]');
const div1 = document.getElementById("divportas");
const div2 = document.getElementById("divambiente");
const div3 = document.getElementById("divvidros");
const div4 = document.getElementById("divacabamento");
const div5 = document.getElementById("divabertura");
const div6 = document.getElementById("divlinha");


radioButtons.forEach(radio => {
  radio.addEventListener('change', function() {
    if (this.value === 'PortaGiro') {
      div1.style.display = "block";
      div2.style.display = "none";
      div3.style.display = "none";
      div4.style.display = "block";
      div5.style.display = "block";
      div6.style.display = "none";
    } else if (this.value === 'PortaCorrer') {
      div1.style.display = "block";
      div2.style.display = "none";
      div3.style.display = "none";
      div4.style.display = "block";
      div5.style.display = "block";
      div6.style.display = "none";
    } else if (this.value === 'DivisoriaAmbiente') {
      div1.style.display = "none";
      div2.style.display = "block";
      div3.style.display = "none";
      div4.style.display = "block";
      div5.style.display = "none";
      div6.style.display = "block";
    } else if (this.value === 'Vidros') {
      div1.style.display = "none";
      div2.style.display = "none";
      div3.style.display = "block";
      div4.style.display = "none";
      div5.style.display = "none";
      div6.style.display = "none";
    }
  });
});

</script>

<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $('#id_perfil').select2();-->
<!--});-->
<!--</script>-->

<style>
.custom-input-size-quantidade {
    width: 45px;
    height: 30px;
}

.custom-input-size-medida {
    width: 65px;
    height: 30px;
}

.custom-input-size-select {
    width: 155px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-size-selectitems {
    width: 300px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-qtd {
    width: 60px;
    height: 30px;
    padding: 1px 10px;
}

.custom-input-posicao {
    width: 100px;
    height: 30px;
    padding: 1px 10px;
}

.hidden {
    display: none;
}

.custom-input-size {
    width: 200px;
    height: 30px;
}

.mghr {
    margin-top: 10px;
    margin-bottom: 10px;
}

</style>

<script>
$(document).ready(function() {
  $('#id_acabamento').change(function() {
    filtrarPerfil();
  });

  function filtrarPerfil() {
    var acabamento = $('#id_acabamento').val();

    if (acabamento) {
      $.ajax({
        url: '/filtrar_acabamento/',  // Atualize para a URL correta
        type: 'GET',
        data: {
          acabamento: acabamento
        },
        success: function(response) {
          var selectPerfil = $('#id_perfil');
          selectPerfil.empty();

          var option = $('<option>').attr('value', '').text('-------');
          selectPerfil.append(option);

          $.each(response, function(index, item) {
            option = $('<option>').attr('value', item.id).text(item.descricao);
            selectPerfil.append(option);
          });

          selectPerfil.show();
        },
        error: function(xhr) {
          console.log(xhr.statusText);
        }
      });
    } else {
      $('#id_perfil').empty().hide();
    }
  }
});
</script>

<script>
$(document).ready(function() {
  $('#id_perfil').change(function() {
    buscarPerfilPuxador();
  });

  function buscarPerfilPuxador() {
    var perfil = $('#id_perfil').val();

    if (perfil) {
      $.ajax({
        url: '/buscar_PerfilPuxador/',  // Atualize para a URL correta
        type: 'GET',
        data: {
          perfil: perfil
        },
        success: function(response) {
          var selectPerfilPuxador = $('#id_perfilpuxador');
          selectPerfilPuxador.empty();

          var option = $('<option>').attr('value', '').text('-------');
          selectPerfilPuxador.append(option);

          $.each(response, function(index, item) {
            option = $('<option>').attr('value', item.id).text(item.descricao);
            selectPerfilPuxador.append(option);
          });

          selectPerfilPuxador.show();
        },
        error: function(xhr) {
          console.log(xhr.statusText);
        }
      });
    } else {
      $('#id_perfilpuxador').empty().hide();
    }
  }
});
</script>

<script>
$(document).ready(function() {
  // Função para verificar se os campos estão preenchidos
  function verificarCamposPreenchidos() {
    var quantidade = $('#id_quantidade').val();
    var largura = $('#id_largura').val();
    var altura = $('#id_altura').val();
    var acabamento = $('#id_acabamento').val();
    var abertura = $('#id_abertura').val();

    // Verificar se todos os campos estão preenchidos
    if (quantidade && largura && altura && acabamento && abertura) {
      // Desbloquear os campos na divportas
      $('#divportas input, #divportas select').prop('disabled', false);
    } else {
      // Bloquear os campos na divportas
      $('#divportas input, #divportas select').prop('disabled', true);
    }
  }

  // Verificar campos ao carregar a página
  verificarCamposPreenchidos();

  // Verificar campos sempre que houver uma alteração nos campos
  $('#id_quantidade, #id_largura, #id_altura, #id_acabamento, #id_abertura').on('input', function() {
    verificarCamposPreenchidos();
  });
});
</script>


{% endblock %}

