{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block titulo %}
Adrofecha - Orçamento
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'Pedidos/css/style.css' %}">
<script src={% static 'Pedidos/js/Pedidos.js' %}></script>
{% endblock %}

{% block content %}
<div class="border" style="margin-top: 45px">
    <header class="mt-2 p-1 d-flex inline-block" id=listabotoes>
            <div class="input-group ms-2" role="group" id="btnradios" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="btnPortaGiro" checked="checked" value="PortaGiro" autocomplete="off">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnPortaGiro" style="height: 110px; width:140px">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="{% static 'Pedidos/images/PortaGiro.png' %}"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnPortaCorrer" value="PortaCorrer" autocomplete="off">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnPortaCorrer">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="{% static 'Pedidos/images/PortaCorrer.png' %}"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" value="DivisoriaAmbiente" id="btnDivisoria">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnDivisoria">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="{% static 'Pedidos/images/PortaDivisoria.png' %}"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
                  <input type="radio" class="btn-check" name="btnradio" value="Vidros" id="btnVidro">
                  <label class="btn btn-outline-primary border me-3 rounded" for="btnVidro">
                      <div class="d-flex justify-content-center" style="width:120px">
                          <img src="{% static 'Pedidos/images/Vidro.png' %}"  class="border bg-white rounded" style="height: 100px; width:180px">
                      </div>
                  </label>
            </div>
    </header>
    <hr class="mx-2 mghr">
    <div class="row">
         <div class="row d-flex justify-content-between">
            <div class="col-6 border-end">
                <form>
                    <div class="row mb-1">
                        <div class="row mx-1">
                            <div class="mt-1 col d-flex align-items-center justify-content-start">
                                <label class="me-1" for="{{ form.quantidade.id_for_label }}">
                                    {{ form.quantidade.label_tag }}
                                    {% if form.quantidade.field.required %}{% endif %}
                                </label>
                                {{ form.quantidade|attr:"class:form-control custom-input-size-quantidade" }}
                            </div>
                            <div class="mt-1 col d-flex align-items-center justify-content-center">
                                <label class="me-1" for="{{ form.largura.id_for_label }}">
                                    {{ form.largura.label_tag }}
                                    {% if form.largura.field.required %}{% endif %}
                                </label>
                                {{ form.largura|attr:"class:form-control custom-input-size-medida" }}
                            </div>
                            <div class="mt-1 col d-flex align-items-center justify-content-end">
                                <label class="me-1" for="{{ form.altura.id_for_label }}">
                                    {{ form.altura.label_tag }}
                                    {% if form.altura.field.required %}{% endif %}
                                </label>
                                {{ form.altura|attr:"class:form-control custom-input-size-medida" }}
                            </div>
                        </div>
                        <div class="row mx-3 pt-2">
                            <div class="row" id="divselecao">
                                <div class="col-6 d-flex justify-content-center align-items-center" id="divacabamento"
                                     onchange="limparCampos()">
                                    <label class="me-1" for="{{ form.acabamento.id_for_label }}">
                                        {{ form.acabamento.label_tag }}
                                        {% if form.acabamento.field.required %}{% endif %}
                                    </label>
                                    {{ form.acabamento|attr:"class:form-control custom-input-size-select" }}
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center" id="divabertura">
                                    <label class="me-1" for="{{ form.abertura.id_for_label }}">
                                        {{ form.abertura.label_tag }}
                                        {% if form.abertura.field.required %}{% endif %}
                                    </label>
                                    {{ form.abertura|attr:"class:form-control custom-input-size-select" }}
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center d-none" id="divlinha">
                                    <label class="me-1" for="{{ form.linha.id_for_label }}">
                                        {{ form.linha.label_tag }}
                                        {% if form.linha.field.required %}{% endif %}
                                    </label>
                                    {{ form.linha|attr:"class:form-control custom-input-size-select" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="mx-2">
<!--                    Menu para giro e correr-->
                <div id="divportas" class="mt-1">
<!--                    Linha Perfil-->
                    <div class="mx-3">
                        <div class="row justify-content-start" id="divperfil">
                            <label for="{{ form.perfil.id_for_label }}">
                                {{ form.perfil.label_tag }}
                                {% if form.perfil.field.required %}{% endif %}
                            </label>
                            <div>
                                {{ form.perfil|attr:"class:form-control custom-input-size-selectitems selectPerfil" }}
                            </div>
                        </div>
                    </div>
<!--                    Linha Perfil Puxador-->
                    <div class="mx-3">
                        <div id="divperfilpuxador">
                            <label for="{{ form.perfilpuxador.id_for_label }}">
                                {{ form.perfilpuxador.label_tag }}
                                {% if form.perfilpuxador.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.perfilpuxador|attr:"class:form-control custom-input-size-selectitems selectPerfilPuxador" }}
                                </div>
                                <div class="d-flex" >
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1" id="qtd-perfilpuxador">

                                    </select>
                                    <select class="form-select custom-input-posicao flex-grow-1" id="posicao-perfilpuxador">

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Puxador Sobreposto-->
                    <div class="mx-3">
                        <div id="divpuxador">
                            <label for="{{ form.puxador.id_for_label }}">
                                {{ form.puxador.label_tag }}
                                {% if form.puxador.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.puxador|attr:"class:form-control custom-input-size-selectitems selectPuxador" }}
                                </div>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1" id="qtd-puxador">

                                    </select>
                                    <select class="form-select custom-input-posicao flex-grow-1 me-1" id="posicao-puxador">

                                    </select>
                                    <input class="form-control custom-input-size-medida flex-grow-1" id="tam-puxador">
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Divisor-->
                    <div class="mx-3">
                        <div id="divdivisor">
                            <label for="{{ form.divisor.id_for_label }}">
                                {{ form.divisor.label_tag }}
                                {% if form.divisor.field.required %}{% endif %}
                            </label>
                            <div class="d-flex">
                                <div class="me-1">
                                    {{ form.divisor|attr:"class:form-control custom-input-size-selectitems selectdivisor" }}
                                </div>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 me-1" id="qtd-divisor">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Linha Vidro-->
                    <div class="mx-3">
                        <div id="divvidro">
                            <label for="{{ form.vidro.id_for_label }}">
                                {{ form.vidro.label_tag }}
                                {% if form.vidro.field.required %}{% endif %}
                            </label>
                            <div class="me-1">
                                {{ form.vidro|attr:"class:form-control custom-input-size-selectitems selectVidro" }}
                            </div>
                        </div>
                    </div>
                </div>
<!--                menu para divisoria ambiente-->
                <div id="divambiente" class="hidden">
                    <!--Linha Superior-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divsuperior">
                            <label>
                                Superior:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientesuperior">
                            </select>
                        </div>
                    </div>
<!--                    Linha Inferior-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divinferior">
                            <label>
                                Inferior:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambienteinferior">
                            </select>
                        </div>
                    </div>
<!--                    Linha Lateral-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divlateral">
                            <label>
                                Lateral:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientelateral">
                            </select>
                        </div>
                    </div>
<!--                    Linha Divisor Ambiente-->
                    <div class="mx-3" id="divambientedivisor">
                            <label>
                                Divisor:
                            </label>
                            <div class="d-flex">
                                <select class="form-control custom-input-divisorias" id="Selectambientedivisor">
                                </select>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 ms-1" id="qtd-divisorambiente">
                                    </select>
                                </div>
                            </div>
                        </div>
<!--                    Linha Vidro Ambiente-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divambientevidro">
                            <label>
                                Vidro:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientevidro">
                            </select>
                        </div>
                    </div>
                </div>
<!--                    menu para vidro-->
                <div id="divvidros" class="hidden">
                    <div class="mx-3">
                        <div id="divvidro">
                            <label for="{{ form.vidro.id_for_label }}">
                                {{ form.vidro.label_tag }}
                                {% if form.vidro.field.required %}{% endif %}
                            </label>
                            <div class="me-1">
                                {{ form.vidro|attr:"class:form-control custom-input-size-selectitems selectVidro" }}
                            </div>
                        </div>
                    </div>
                </div>
<!--                botoes finalizar-->
                <div class="mt-1 text-end" style="height: 45px" ;>
                    <a class="btn btn-primary me-2 mt-1" id="btnpedidocancelar" style="width: 90px" ; href="#" role="button" onclick="mudarCor()">Cancelar</a>
                    <a class="btn btn-primary me-2 mt-1" id="btnpedidofinalizar" style="width: 90px" ; href="#" role="button" onclick="diminuirOpacidade()">Adicionar</a>
                </div>
            </div>
                <div class="col-6">
                    <div class="svg-content">
                        {% include 'Pedidos/Porta_Pe.html' %}
                    </div>
                </div>
             </div>
         <div class="row d-flex justify-content-between">
            <div class=""><!-- Tabelas-->
               <div class="row mt-1 ms-1 mb-2">
                    <div class="col-6 border table-responsive">
                        <header>
                            <h2 class="bg-warning text-dark text-center fs-6 fw-bold">Insumos</h2>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                      <th scope="col">Id</th>
                                      <th scope="col">Código</th>
                                      <th scope="col">Descrição</th>
                                      <th scope="col">Quant(m)</th>
                                      <th scope="col">Valor</th>
                                      <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>010098</td>
                                      <td>3579 Anodizado (3579)</td>
                                      <td>4</td>
                                      <td>R$42,50</td>
                                      <td>R$170,52</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>013799</td>
                                      <td>4007 Anodizado (4007)</td>
                                      <td>2</td>
                                      <td>R$58,07</td>
                                      <td>R$116,13</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>008787</td>
                                      <td>Acidato Prata 4MM</td>
                                      <td>2</td>
                                      <td>R$245,50</td>
                                      <td>R$491,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </header>
                    </div>
                    <div class="col-6 border table-responsive">
                        <header>
                            <h2 class="bg-warning text-dark text-center fs-6 fw-bold ">Itens do Orçamento</h2>
                                <table class="table table-sm ">
                                    <thead>
                                        <tr>
                                          <th scope="col">Id</th>
                                          <th scope="col">Qt</th>
                                          <th scope="col">Descrição</th>
                                          <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>1</td>
                                          <td>Porta 3579/204 Anodizado 4mm</td>
                                          <td>R$100,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>2</td>
                                          <td>Porta 3579 Anodizado 4mm</td>
                                          <td>R$256,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>4</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$256,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">4</th>
                                          <td>5</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$229,00</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">5</th>
                                          <td>6</td>
                                          <td>Porta 3443/105 Escovado 4mm</td>
                                          <td>R$310,00</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </header>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<script>
    // Função para verificar as medidas de altura e largura e decidir qual SVG incluir
    function decidirSVG() {
        const altura = document.getElementById('id_altura').value;
        const largura = document.getElementById('id_largura').value;

        if (altura >= largura) {
            document.querySelector('.svg-content').innerHTML = `{% include 'Pedidos/Porta_Pe.html' %}`;
        } else {
            document.querySelector('.svg-content').innerHTML = `{% include 'Pedidos/Porta_Deitada.html' %}`;
        }
    }

    // Função para atualizar o desenho SVG com base nas medidas de altura e largura
    function atualizarDesenhoSVG() {
        // Código para atualizar o desenho SVG conforme as medidas
        // ...
        // (coloque aqui o código que modifica o SVG conforme as medidas)
        // ...

        // Após atualizar o desenho, chame a função para decidir qual SVG incluir
        decidirSVG();
    }

    // Adicionando os eventos de mudança nos campos de altura e largura
    const alturaInput = document.getElementById('altura');
    const larguraInput = document.getElementById('largura');

    alturaInput.addEventListener('change', atualizarDesenhoSVG);
    larguraInput.addEventListener('change', atualizarDesenhoSVG);

    // Chame a função inicialmente para que o SVG correto seja incluído na página ao carregar
    decidirSVG();
</script>

<script>
  const alturaInput = document.getElementById('id_altura');
  const medidaAlturaText = document.getElementById('medida-pe-altura');
  const larguraInput = document.getElementById('id_largura');
  const medidaLarguraText = document.getElementById('medida-pe-largura');

  alturaInput.addEventListener('input', function() {
    const alturaValue = this.value;
    medidaAlturaText.textContent = alturaValue + 'mm';
  });
  larguraInput.addEventListener('input', function() {
    const larguraValue = this.value;
    medidaLarguraText.textContent = larguraValue + 'mm';
  });
</script>

<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $('#id_perfil').select2();-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--function mostrarGrupoPerfil() {-->
<!--  var perfilSelecionado = $('#id_perfil').val();-->
<!--  var grupoPerfil = $('#Perfis');-->

<!--  if (perfilSelecionado && perfilSelecionado !== "") {-->
<!--    grupoPerfil.removeClass('hidden');-->
<!--  } else {-->
<!--    grupoPerfil.addClass('hidden');-->
<!--  }-->
<!--}-->

<!--$(document).ready(function() {-->
<!--  $('#id_perfil').change(mostrarGrupoPerfil);-->
<!--  $('#id_acabamento, #id_quantidade, #id_largura, #id_altura, #id_abertura').change(atualizarEstilosSVG);-->
<!--  mostrarGrupoPerfil();-->

<!--function atualizarEstilosSVG() {-->
<!--  var selectElement = document.getElementById("id_acabamento");-->
<!--  var selectedOption = selectElement.options[selectElement.selectedIndex];-->
<!--  var codigoRGB = selectedOption.getAttribute("data-codigo-rgb");-->
<!--  acabamentoRGB = codigoRGB;-->

<!--  // Atualizar os estilos do SVG com a nova cor do acabamento-->
<!--  var estilo = document.createElement('style');-->
<!--  estilo.type = 'text/css';-->
<!--  estilo.innerHTML = '.st5 { fill: ' + acabamentoRGB + '; }';-->
<!--  var svg = document.getElementsByTagName('svg')[0];-->
<!--  svg.appendChild(estilo);-->
<!--}-->
<!--});-->
<!--</script>-->

<script>
        function mudarCor() {
            var retangulo = document.getElementById("retangulo");
            retangulo.setAttribute("fill", "red");
        }

        function diminuirOpacidade() {
            var imagem = document.getElementById("imagem");
            var currentOpacity = parseFloat(imagem.getAttribute("opacity"));

            if (currentOpacity > 0) {
                currentOpacity -= 0.1; // Diminui a opacidade em 0.1 a cada clique
                imagem.setAttribute("opacity", currentOpacity);
            }
        }
</script>

<script>
$(document).ready(function() {
  function atualizarPosicoesPerfilPuxador() {
    var qtdPerfilPuxador = $("#qtd-perfilpuxador").val();
    var perfilPuxador = $("#id_perfilpuxador").val();
    var abertura = $("#id_abertura").val();
    var posicaoPerfilPuxador = $("#posicao-perfilpuxador");

    posicaoPerfilPuxador.empty();

    if (qtdPerfilPuxador === "2") {
      if ($("#btnPortaCorrer").is(":checked")) {
        posicaoPerfilPuxador.append($('<option>', {value: 'Esq/Dir', text: 'Esq/Dir'}));
      }
    } else if (qtdPerfilPuxador === "1") {
        if ($("#btnPortaCorrer").is(":checked")) {
          posicaoPerfilPuxador.append($('<option>', {value: 'Direita', text: 'Direita'}));
          posicaoPerfilPuxador.append($('<option>', {value: 'Esquerda', text: 'Esquerda'}));
        } else if ($("#btnPortaGiro").is(":checked")) {
            if (abertura === "D") {
              posicaoPerfilPuxador.append($('<option>', {value: 'Esquerda', text: 'Esquerda'}));
              posicaoPerfilPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
              posicaoPerfilPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "E") {
              posicaoPerfilPuxador.append($('<option>', {value: 'Direita', text: 'Direita'}));
              posicaoPerfilPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
              posicaoPerfilPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "C") {
              posicaoPerfilPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "B") {
              posicaoPerfilPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
            }
        }
    }
  }

  function atualizarQtdPerfilPuxador() {
    var perfilPuxador = $("#id_perfilpuxador").val();
    var qtdPerfilPuxador = $("#qtd-perfilpuxador");

    qtdPerfilPuxador.empty();

    if ($("#btnPortaGiro").is(":checked")) {
      if (perfilPuxador && perfilPuxador !== "") {
        qtdPerfilPuxador.append($('<option>', {value: '1', text: '1'}));
      }
    } else if ($("#btnPortaCorrer").is(":checked")) {
      if (perfilPuxador && perfilPuxador !== "") {
        qtdPerfilPuxador.append($('<option>', {value: '1', text: '1'}));
        qtdPerfilPuxador.append($('<option>', {value: '2', text: '2'}));
      }
    }
  }

  $("#id_perfilpuxador").change(function() {
    atualizarQtdPerfilPuxador();
    atualizarPosicoesPerfilPuxador();
  });

  $("#qtd-perfilpuxador").change(function() {
    atualizarPosicoesPerfilPuxador();
  });

  $("#id_abertura").change(function() {
    atualizarPosicoesPerfilPuxador();
  });

  $("input[name='btnradio']").change(function() {
    atualizarQtdPerfilPuxador();
    atualizarPosicoesPerfilPuxador();
  });
});
</script>

<script>
$(document).ready(function() {
  function atualizarPosicoesPuxador() {
    var qtdPuxador = $("#qtd-puxador").val();
    var Puxador = $("#id_puxador").val();
    var abertura = $("#id_abertura").val();
    var posicaoPuxador = $("#posicao-puxador");

    posicaoPuxador.empty();

    if (qtdPuxador === "2") {
      if ($("#btnPortaCorrer").is(":checked")) {
        posicaoPuxador.append($('<option>', {value: 'Esq/Dir', text: 'Esq/Dir'}));
      }
    } else if (qtdPuxador === "1") {
        if ($("#btnPortaCorrer").is(":checked")) {
          posicaoPuxador.append($('<option>', {value: 'Direita', text: 'Direita'}));
          posicaoPuxador.append($('<option>', {value: 'Esquerda', text: 'Esquerda'}));
        } else if ($("#btnPortaGiro").is(":checked")) {
            if (abertura === "D") {
              posicaoPuxador.append($('<option>', {value: 'Esquerda', text: 'Esquerda'}));
              posicaoPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
              posicaoPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "E") {
              posicaoPuxador.append($('<option>', {value: 'Direita', text: 'Direita'}));
              posicaoPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
              posicaoPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "C") {
              posicaoPuxador.append($('<option>', {value: 'Base', text: 'Base'}));
            } else if (abertura === "B") {
              posicaoPuxador.append($('<option>', {value: 'Topo', text: 'Topo'}));
            }
        }
    }
  }

  function atualizarQtdPuxador() {
    var Puxador = $("#id_puxador").val();
    var qtdPuxador = $("#qtd-puxador");

    qtdPuxador.empty();

    if ($("#btnPortaGiro").is(":checked")) {
      if (Puxador && Puxador !== "") {
        qtdPuxador.append($('<option>', {value: '1', text: '1'}));
      }
    } else if ($("#btnPortaCorrer").is(":checked")) {
      if (Puxador && Puxador !== "") {
        qtdPuxador.append($('<option>', {value: '1', text: '1'}));
        qtdPuxador.append($('<option>', {value: '2', text: '2'}));
      }
    }
  }

  $("#id_puxador").change(function() {
    atualizarQtdPuxador();
    atualizarPosicoesPuxador();
  });

  $("#qtd-puxador").change(function() {
    atualizarPosicoesPuxador();
  });

  $("#id_abertura").change(function() {
    atualizarPosicoesPuxador();
  });

  $("input[name='btnradio']").change(function() {
    atualizarQtdPuxador();
    atualizarPosicoesPuxador();
  });
});
</script>

<script>
$(document).ready(function() {
  $('#id_acabamento, #id_quantidade, #id_largura, #id_altura, #id_abertura').change(filtrarPerfil);

  function filtrarPerfil() {
    var acabamento = $('#id_acabamento').val();
    var quantidade = $('#id_quantidade').val();
    var largura = $('#id_largura').val();
    var altura = $('#id_altura').val();
    var abertura = $('#id_abertura').val();
    var perfilField = $('#id_perfil');
    var perfilDiv = $('#divperfil');
    var campoPortas = $('#divportas');
    var portaGiroRadioButton = $('#btnPortaGiro');
    var portaCorrerRadioButton = $('#btnPortaCorrer');

    // Verificar se o radiobutton selecionado é PortaGiro
    if (portaGiroRadioButton.is(':checked')) {
      if (quantidade && largura && altura && acabamento && abertura) {
        perfilField.prop('disabled', false);
        perfilDiv.find(':input').prop('disabled', false);

        $.ajax({
          url: '/filtrar_acabamento/',
          type: 'GET',
          data: {
            acabamento: acabamento
          },
          success: function(response) {
            perfilField.empty();

            var option = $('<option>').attr('value', '').text('-------');
            perfilField.append(option);

            $.each(response, function(index, item) {
              option = $('<option>').attr('value', item.id).text(item.descricao);
              perfilField.append(option);
            });

            perfilField.show();
          },
          error: function(xhr) {
            console.log(xhr.statusText);
          }
        });
      } else {
        campoPortas.prop('disabled', true);
        campoPortas.find(':input').prop('disabled', true);
        perfilField.empty();
      }
    } else if (portaCorrerRadioButton.is(':checked')) {
      if (quantidade && largura && altura && acabamento) {
        perfilField.prop('disabled', false);
        perfilDiv.find(':input').prop('disabled', false);

        $.ajax({
          url: '/filtrar_acabamento/',
          type: 'GET',
          data: {
            acabamento: acabamento
          },
          success: function(response) {
            perfilField.empty();

            var option = $('<option>').attr('value', '').text('-------');
            perfilField.append(option);

            $.each(response, function(index, item) {
              option = $('<option>').attr('value', item.id).text(item.descricao);
              perfilField.append(option);
            });

            perfilField.show();
          },
          error: function(xhr) {
            console.log(xhr.statusText);
          }
        });
      }
    } else {
      // Manter o campo perfil bloqueado para outros radiobuttons selecionados
      perfilField.prop('disabled', true);
      perfilDiv.find(':input').prop('disabled', true);
      perfilField.empty();
    }
  }

  // Chamar a função filtrarPerfil inicialmente
  filtrarPerfil();
});
</script>

<script>
$(document).ready(function() {
  $('#id_perfil').change(function() {
    buscarPerfilPuxador();
  });

  function buscarPerfilPuxador() {
    var perfil = $('#id_perfil').val();

    if (perfil) {
      $.ajax({
        url: '/buscar_PerfilPuxador/',
        type: 'GET',
        data: {
          perfil: perfil
        },
        success: function(response) {
          var selectPerfilPuxador = $('#id_perfilpuxador');
          selectPerfilPuxador.empty();

          var option = $('<option>').attr('value', '').text('-------');
          selectPerfilPuxador.append(option);

          $.each(response, function(index, item) {
            option = $('<option>').attr('value', item.id).text(item.descricao);
            selectPerfilPuxador.append(option);
          });

          var numItens = response.length;

          if (numItens <= 0) {
            selectPerfilPuxador.prop('disabled', true);
            $('#divperfilpuxador :input').prop('disabled', true);
          } else {
            selectPerfilPuxador.prop('disabled', false);
            $('#divperfilpuxador :input').prop('disabled', false);
          }

          selectPerfilPuxador.show();
        },
        error: function(xhr) {
          console.log(xhr.statusText);
        }
      });
    } else {
      $('#id_perfilpuxador').empty();
      $('#divperfilpuxador :input').prop('disabled', true);
    }
  }
});
</script>

<script>
$(document).ready(function() {
  $('#id_perfil').change(function() {
    limparCamposPortas();
    buscarDivisor();
    limparCampoVidro();
  });

  function buscarDivisor() {
    var perfil = $('#id_perfil').val();

    if (perfil) {
      $.ajax({
        url: '/buscar_Divisor/',
        type: 'GET',
        data: {
          perfil: perfil
        },
        success: function(response) {
          var selectDivisor = $('#id_divisor');
          selectDivisor.empty();

          var option = $('<option>').attr('value', '').text('-------');
          selectDivisor.append(option);

          $.each(response, function(index, item) {
            option = $('<option>').attr('value', item.id).text(item.descricao);
            selectDivisor.append(option);
          });

          var numItens = response.length;

          if (numItens <= 0) {
            selectDivisor.prop('disabled', true);
            $('#divdivisor :input').prop('disabled', true);
          } else {
            selectDivisor.prop('disabled', false);
            $('#divdivisor :input').prop('disabled', false);
          }

          selectDivisor.show();
        },
        error: function(xhr) {
          console.log(xhr.statusText);
        }
      });
    } else {
      $('#id_divisor').empty();
      $('#divdivisor :input').prop('disabled', true);
    }
  }

  function limparCamposPortas() {
    $('#divportas input:not(#id_perfil), #divportas select:not(#id_perfil)').each(function() {
      $(this).val('').prop('disabled', true);
    });
  }

  // Função para limpar o campo id_vidro
  function limparCampoVidro() {
    $('#id_vidro').val('');
  }
});

</script>

<script>
$(document).ready(function() {
  $('#id_perfil').change(function() {
    buscarPuxador();
  });

  function buscarPuxador() {
    var perfil = $('#id_perfil').val();

    if (perfil) {
      $.ajax({
        url: '/buscar_Puxador/',
        type: 'GET',
        data: {
          perfil: perfil
        },
        success: function(response) {
          var selectPuxador = $('#id_puxador');
          selectPuxador.empty();

          var option = $('<option>').attr('value', '').text('-------');
          selectPuxador.append(option);

          $.each(response, function(index, item) {
            option = $('<option>').attr('value', item.id).text(item.descricao);
            selectPuxador.append(option);
          });

          var numItens = response.length;

          if (numItens <= 0) {
            selectPuxador.prop('disabled', true);
            $('#divpuxador :input').prop('disabled', true);
          } else {
            selectPuxador.prop('disabled', false);
            $('#divpuxador :input').prop('disabled', false);
          }

          selectPuxador.show();
        },
        error: function(xhr) {
          console.log(xhr.statusText);
        }
      });
    } else {
      $('#id_puxador').empty();
      $('#divpuxador :input').prop('disabled', true);
    }
  }
});
</script>

<script>
$(document).ready(function() {
  $('#id_perfil').change(function() {
    buscarVidro();
  });

  function buscarVidro() {
  var perfil = $('#id_perfil').val();

  if (perfil) {
    var vidro = $('#id_vidro').val();

    $.ajax({
      url: '/buscar_Vidro/',
      type: 'GET',
      data: {
        vidro: vidro
      },
      success: function(response) {
        var selectVidro = $('#id_vidro');
        selectVidro.empty();

        var option = $('<option>').attr('value', '').text('-------');
        selectVidro.append(option);

        $.each(response, function(index, item) {
          option = $('<option>').attr('value', item.id).text(item.descricao);
          selectVidro.append(option);
        });

        var numItens = response.length;

        if (numItens <= 0) {
          selectVidro.prop('disabled', true);
          $('#divvidro :input').prop('disabled', true);
        } else {
          selectVidro.prop('disabled', false);
          $('#divvidro :input').prop('disabled', false);
        }

        selectVidro.show();
      },
      error: function(xhr) {
        console.log(xhr.statusText);
      }
    });
  } else {
    $('#id_vidro').empty();
    $('#divvidro :input').prop('disabled', true);
  }
}
});
</script>

<script>
$(document).ready(function() {
  $('#id_acabamento, #id_abertura').change(function() {
    // Limpar e bloquear os campos da divportas, exceto o campo perfil
    $('#divportas input:not(#id_perfil), #divportas select:not(#id_perfil)').val('').prop('disabled', true);

    // Verificar se os campos obrigatórios estão preenchidos
    var quantidade = $('#id_quantidade').val();
    var largura = $('#id_largura').val();
    var altura = $('#id_altura').val();
    var acabamento = $('#id_acabamento').val();
    var abertura = $('#id_abertura').val();

    if ($('#btnPortaGiro').is(':checked')) {
        if (quantidade && largura && altura && acabamento && abertura) {
          // Desbloquear o campo perfil
          $('#id_perfil').prop('disabled', false);
        }
    }
    if ($('#btnPortaCorrer').is(':checked')) {
        if (quantidade && largura && altura && acabamento) {
          // Desbloquear o campo perfil
          $('#id_perfil').prop('disabled', false);
        }
    }
  });
});
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var btnPortaGiro = document.getElementById('btnPortaGiro');
    var btnPortaCorrer = document.getElementById('btnPortaCorrer');
    var btnDivisoria = document.getElementById('btnDivisoria');
    var btnVidro = document.getElementById('btnVidro');
    var campoLinha = document.getElementById('divlinha');
    var campoAcabamento = document.getElementById('divacabamento');
    var campoAbertura = document.getElementById('divabertura');
    var campoPorta = document.getElementById('divportas');
    var campoDivisoria = document.getElementById('divambiente');
    var campoVidro = document.getElementById('divvidros');

    btnPortaGiro.addEventListener('change', function() {
      limparCampos();
      campoAcabamento.classList.remove('d-none');
      campoAbertura.classList.remove('d-none');
      campoLinha.classList.add('d-none');
      campoPorta.classList.remove('hidden');
      campoDivisoria.classList.add('hidden');
      campoVidro.classList.add('hidden');
    });

    btnPortaCorrer.addEventListener('change', function() {
      limparCampos();
      campoLinha.classList.add('d-none');
      campoAbertura.classList.add('d-none');
      campoAcabamento.classList.remove('d-none');
      campoPorta.classList.remove('hidden');
      campoDivisoria.classList.add('hidden');
      campoVidro.classList.add('hidden');
    });

    btnDivisoria.addEventListener('change', function() {
      limparCampos();
      campoAcabamento.classList.remove('d-none');
      campoLinha.classList.remove('d-none');
      campoAbertura.classList.add('d-none');
      campoPorta.classList.add('hidden');
      campoDivisoria.classList.remove('hidden');
      campoVidro.classList.add('hidden');
    });

    btnVidro.addEventListener('change', function() {
      limparCampos();
      campoLinha.classList.add('d-none');
      campoAbertura.classList.add('d-none');
      campoAcabamento.classList.add('d-none');
      campoPorta.classList.add('hidden');
      campoDivisoria.classList.add('hidden');
      campoVidro.classList.remove('hidden');
    });

    function limparCampos() {
      var camposPorta = document.getElementById('divportas').getElementsByTagName('input');
      var selectsPorta = document.getElementById('divportas').getElementsByTagName('select');

      for (var i = 0; i < camposPorta.length; i++) {
        camposPorta[i].value = '';
        camposPorta[i].disabled = true;
      }
      for (var i = 0; i < selectsPorta.length; i++) {
        selectsPorta[i].value = '';
        selectsPorta[i].disabled = true;
      }

      var camposDivisoria = document.getElementById('divambiente').getElementsByTagName('input');
      var selectsDivisoria = document.getElementById('divambiente').getElementsByTagName('select');

      for (var i = 0; i < camposDivisoria.length; i++) {
        camposDivisoria[i].value = '';
        camposDivisoria[i].disabled = true;
      }
      for (var i = 0; i < selectsDivisoria.length; i++) {
        selectsDivisoria[i].value = '';
        selectsDivisoria[i].disabled = true;
      }

      var camposVidro = document.getElementById('divvidros').getElementsByTagName('input');
      var selectsVidro = document.getElementById('divvidros').getElementsByTagName('select');

      for (var i = 0; i < camposVidro.length; i++) {
        camposVidro[i].value = '';
        camposVidro[i].disabled = true;
      }
      for (var i = 0; i < selectsVidro.length; i++) {
        selectsVidro[i].value = '';
      }

      var campoAcabamento = document.getElementById('id_acabamento');
      var campoAbertura = document.getElementById('id_abertura');
      var campoLinha = document.getElementById('id_linha');

      campoAcabamento.value = '';
      campoAcabamento.disabled = false;

      campoAbertura.value = '';
      campoAbertura.disabled = false;

      campoLinha.value = '';
      campoLinha.disabled = false;
    }
  });
</script>

<script>
  $(document).ready(function() {
    $("#id_perfilpuxador").change(function() {
      var perfilPuxador = $(this).val();
      var puxadorField = $("#id_puxador");
      var qtdpuxadorField = $("#qtd-puxador");
      var posicaopuxadorField = $("#posicao-puxador");
      var tamanhopuxadorField = $("#tam-puxador");

      if (perfilPuxador && perfilPuxador !== "") {
      puxadorField.prop('disabled', true);
      qtdpuxadorField.prop('disabled', true);
      posicaopuxadorField.prop('disabled', true);
      tamanhopuxadorField.prop('disabled', true);
      } else {
        if (puxadorField.children().length > 1) {
            puxadorField.prop('disabled', false);
            qtdpuxadorField.prop('disabled', false);
            posicaopuxadorField.prop('disabled', false);
            tamanhopuxadorField.prop('disabled', false);
        }
      }

      // Clear the related fields
      $("#qtd-perfilpuxador").val('');
      $("#posicao-perfilpuxador").val('');
    });

    $("#id_puxador").change(function() {
      var puxador = $(this).val();
      var perfilPuxadorField = $("#id_perfilpuxador");
      var qtdperfilPuxadorField = $("#qtd-perfilpuxador");
      var posicaoperfilPuxadorField = $("#posicao-perfilpuxador");

      if (puxador && puxador !== "") {
      perfilPuxadorField.prop('disabled', true);
      qtdperfilPuxadorField.prop('disabled', true);
      posicaoperfilPuxadorField.prop('disabled', true);
      } else {
        if (perfilPuxadorField.children().length > 1) {
            perfilPuxadorField.prop('disabled', false);
            qtdperfilPuxadorField.prop('disabled', false);
            posicaoperfilPuxadorField.prop('disabled', false);
        }
      }

      $("#qtd-puxador").val('');
      $("#posicao-puxador").val('');
      $("#tam-puxador").val('');
    });

    $("#id_perfil").change(function() {
      var perfil = $(this).val();
      var campoVidro = $("#id_vidro");

      if (perfil && perfil !== "") {
        campoVidro.prop('disabled', false);
      } else {
        campoVidro.prop('disabled', true);
      }
    });
  });
</script>

<script>
$(document).ready(function() {

  $("#id_divisor").change(function() {
    var divisor = $(this).val();
    var qtdDivisor = $("#qtd-divisor");

    qtdDivisor.empty();

    if (divisor && divisor !== "") {
      qtdDivisor.empty();
      qtdDivisor.append($('<option>', {value: '1', text: '1'}));
      qtdDivisor.append($('<option>', {value: '2', text: '2'}));
      qtdDivisor.prop('disabled', false);
    }
  });
});
</script>

<script>
$(document).ready(function() {

  $("#Selectambientedivisor").change(function() {
    var divisor = $(this).val();
    var qtdDivisor = $("#qtd-divisorambiente");

    qtdDivisor.empty();

    if (divisor && divisor !== "") {
      qtdDivisor.empty();
      qtdDivisor.append($('<option>', {value: '1', text: '1'}));
      qtdDivisor.append($('<option>', {value: '2', text: '2'}));
      qtdDivisor.prop('disabled', false);
    }
  });
});
</script>

<script>
$(document).ready(function() {
  // Funções reutilizáveis
  function carregarOpcoes(selectElement, data) {
    selectElement.empty();
    var option = $('<option>').attr('value', '').text('-------');
    selectElement.append(option);

    if (data.length > 0) {
      $.each(data, function(index, item) {
        option = $('<option>').attr('value', item.id).text(item.descricao);
        selectElement.append(option);
      });

      selectElement.prop('disabled', false);
      selectElement.show();
    } else {
      selectElement.prop('disabled', true);
    }
  }

  function realizarRequisicao(url, params, successCallback) {
    $.ajax({
      url: url,
      type: 'GET',
      data: params,
      success: successCallback,
      error: function(xhr) {
        console.log(xhr.statusText);
      }
    });
  }

  // Filtrar Divisoria
  $('#id_acabamento, #id_quantidade, #id_largura, #id_altura, #id_linha').change(filtrarDivisoria);

  function filtrarDivisoria() {
    var acabamento = $('#id_acabamento').val();
    var quantidade = $('#id_quantidade').val();
    var largura = $('#id_largura').val();
    var altura = $('#id_altura').val();
    var linha = $('#id_linha').val();
    var divsuperiorField = $('#Selectambientesuperior');
    var divinferiorField = $('#Selectambienteinferior');
    var divlateralField = $('#Selectambientelateral');
    var divdivisorField = $('#Selectambientedivisor');
    var campoDivisoria = $('#divambiente');
    var divisoriaRadioButton = $('#btnDivisoria');
    var idDivisoriaAmbiente = $('#id_divisoriaambiente');

    if (divisoriaRadioButton.is(':checked')) {
      if (quantidade && largura && altura && acabamento && linha) {
        divsuperiorField.prop('disabled', false);
        idDivisoriaAmbiente.find(':input').prop('disabled', false);

        realizarRequisicao('/filtrar_divisoria/', { acabamento: acabamento, linha: linha }, function(response) {
          carregarOpcoes(divsuperiorField, response);
          carregarDivinferior(acabamento, linha);
          carregarDivlateral(acabamento, linha);
          carregarDivdivisor(acabamento, linha);
        });
      } else {
        idDivisoriaAmbiente.prop('disabled', true);
        idDivisoriaAmbiente.find(':input').prop('disabled', true);
      }
    } else {
      idDivisoriaAmbiente.prop('disabled', true);
      idDivisoriaAmbiente.find(':input').prop('disabled', true);
    }
  }

  // Carregar Divinferior
  function carregarDivinferior(acabamento, linha) {
    var divinferiorField = $('#Selectambienteinferior');

    realizarRequisicao('/carregar_divinferior/', { acabamento: acabamento, linha: linha }, function(response) {
      carregarOpcoes(divinferiorField, response);
    });
  }

  // Carregar Divlateral
  function carregarDivlateral(acabamento, linha) {
    var divlateralField = $('#Selectambientelateral');

    realizarRequisicao('/carregar_divlateral/', { acabamento: acabamento, linha: linha }, function(response) {
      carregarOpcoes(divlateralField, response);
    });
  }

  // Carregar Divdivisor
  function carregarDivdivisor(acabamento, linha) {
    var divdivisorField = $('#Selectambientedivisor');

    realizarRequisicao('/carregar_divdivisor/', { acabamento: acabamento, linha: linha }, function(response) {
      carregarOpcoes(divdivisorField, response);
    });
  }

  // Obter acabamentos DivisoriaAmbiente
  $('#btnDivisoria').change(obterAcabamentosDivisoriaAmbiente);

  function obterAcabamentosDivisoriaAmbiente() {
    realizarRequisicao('/obter_acabamentos_divisoria_ambiente/', {}, function(response) {
      var selectAcabamento = $('#id_acabamento');
      selectAcabamento.empty();

      if (response.acabamentos.length > 0) {
        $.each(response.acabamentos, function(index, item) {
          var option = $('<option>').attr('value', item.id).text(item.acabamento);
          selectAcabamento.append(option);
        });

        selectAcabamento.prop('disabled', false);
        selectAcabamento.show();
      } else {
        selectAcabamento.prop('disabled', true);
        selectAcabamento.hide();
      }
    });
  }

  // Buscar Vidro
  $('#Selectambientesuperior').change(buscarVidro);

  function buscarVidro() {
    var divsuperior = $('#Selectambientesuperior').val();

    if (divsuperior) {
      var vidro = $('#Selectambientevidro').val();

      realizarRequisicao('/buscar_Vidro/', { vidro: vidro }, function(response) {
        var selectVidro = $('#Selectambientevidro');
        carregarOpcoes(selectVidro, response);

        if (response.length > 0) {
          selectVidro.prop('disabled', false);
          selectVidro.show();
        } else {
          selectVidro.prop('disabled', true);
          selectVidro.hide();
        }
      });
    } else {
      $('#Selectambientevidro').empty();
      $('#divambientevidro :input').prop('disabled', true);
    }
  }

  filtrarDivisoria();
});

</script>

{% endblock %}

