{% load static %}
<svg class="img-responsive" width="100%" height="auto" viewBox="0 0 640 450" xmlns="http://www.w3.org/2000/svg">
    <style type="text/css">
        .st0{display:none;fill:#BC4646;}
        .st1{opacity:0.45;}
        .st2{fill:url(#Reflexo_1_);}
        .st3{display:none;}
        .st4{display:inline;fill:#137009;}
        .st5{fill:#C4C7C5;}
        .st6{fill:#c0c0c0;}
        .st7{fill:#C4C7C5;}
        .st8{fill:#989EA6;}
        .st9{display:inline;}
        .st10{fill:#AF0E0E;}
        .st11{font-family:'ArialMT';}
        .st12{font-size:12px;}
        .st13{fill:#661D1D;}
    </style>
    <g transform="translate(200, 40)" id="Porta">
        <rect id="Pelicula" x="23.3" y="24.6" class="st0" width="148.5" height="250"/>
        <g id="Vidro" class="">

            <image style="overflow:visible;opacity:0.35;enable-background:new    ;" width="113" height="196"
                   id="Incolor" xlink:href="{% static 'Pedidos/images/Vidro-incolor.png' %}"
                   transform="matrix(1.3355 0 0 1.3355 22.1574 17.9436)">
            </image>
            <g class="st1">

                <linearGradient id="Reflexo_1_" gradientUnits="userSpaceOnUse" x1="-574.1008" y1="-132.9658"
                                x2="-323.6617" y2="-132.9658"
                                gradientTransform="matrix(4.489659e-11 -1 -1 -4.489659e-11 -8.3494 -271.2008)">
                    <stop offset="0" style="stop-color:#DEF7FF"/>
                    <stop offset="9.815443e-02" style="stop-color:#BBD4DC"/>
                    <stop offset="0.2746" style="stop-color:#839CA4"/>
                    <stop offset="0.4461" style="stop-color:#546D75"/>
                    <stop offset="0.6084" style="stop-color:#304951"/>
                    <stop offset="0.7592" style="stop-color:#152E36"/>
                    <stop offset="0.8941" style="stop-color:#061F27"/>
                    <stop offset="1" style="stop-color:#001921"/>
                </linearGradient>
                <path id="Reflexo" class="st2" d="M198.9,291.5c2.5,6.3-0.8,11.4-7.6,11.4H61.8c-6.7,0-12.3-5.5-12.3-12.3V57.8
                                    c0-6.7,2.1-7.2,4.7-0.9L198.9,291.5z"/>
            </g>
        </g>
        <g id="Divisores" class="st3">
            <rect id="Divisor-inf" x="49.1" y="214.5" class="st4" width="148.5" height="5"/>
            <rect id="Divisor-sup" x="49.1" y="129.2" class="st4" width="148.5" height="5"/>
            <rect id="Divisor-meio" x="49.1" y="171.2" class="st4" width="148.5" height="5"/>
        </g>
        <g id="Perfis" class="">
            <g id="Superior_1_">
                <polygon id="barra_5_" class="st5" points="210.4,36 36.3,36 49.1,48.8 197.6,48.8 			"/>
                <polygon id="acabamento-int_5_" class="st6"
                         points="49.1,48.8 197.6,48.8 195.3,51.2 51.5,51.2 			"/>
                <polygon id="acabamento-ext_5_" class="st6"
                         points="36.3,36 33.9,33.6 212.8,33.6 210.4,36 			"/>
            </g>
            <g id="Perf-Direita">
                <polygon id="barra-dir-altura" class="st7" points="197.6,48.8 197.6,298.7 210.4,311.5 210.4,36 			"/>
                <polygon id="acabamento-int" class="st6"
                         points="195.3,296.3 197.6,298.7 197.6,48.8 195.3,51.2 			"/>
                <polygon id="acabamento-ext" class="st6"
                         points="212.8,33.6 212.8,313.8 210.4,311.5 210.4,36 			"/>
            </g>
            <g id="Perf-Esquerda">
                <polygon id="barra-esq-altura" class="st7 " points="36.3,36 36.3,311.5 49.1,298.7 49.1,48.8"/>
                <polygon id="acabamento-int_4_" class="st8"
                         points="51.5,51.2 49.1,48.8 49.1,298.7 51.5,296.3 			"/>
                <polygon id="acabamento-ext_2_" class="st6"
                         points="33.9,313.8 33.9,33.6 36.3,36 36.3,311.5 			"/>
            </g>
            <g id="Inferior">
                <polygon id="barra_3_" class="st7" points="197.6,298.7 49.1,298.7 36.3,311.5 210.4,311.5"/>
                <polygon id="acabamento-int_2_" class="st6"
                         points="197.6,298.7 49.1,298.7 51.5,296.3 195.3,296.3 			"/>
                <polygon id="acabamento-ext_1_" class="st8"
                         points="33.9,313.8 36.3,311.5 210.4,311.5 212.8,313.8 			"/>
            </g>
        </g>
        <g id="Puxadores_2_" class="st3">
            <g id="Superior" class="st9">
                <rect id="Puxador-sup-int" x="33.9" y="24.2" class="st10" width="178.9" height="3"/>
                <rect id="Puxador-sup-trecho" x="98.3" y="24.2" class="st10" width="50" height="3"/>
                <text id="tamanho-puxador-sup" transform="matrix(1 0 0 1 104.795 22.0441)" class="st11 st12">100mm
                </text>
            </g>
            <g id="Direita_1_" class="st9">
                <rect id="Puxador-dir-int" x="218.4" y="33.6" class="st10" width="3" height="280.2"/>
                <rect id="Puxador-dir-trecho" x="218.4" y="148.7" class="st10" width="3" height="50"/>
                <text id="tamanho-puxador-dir_1_" transform="matrix(-1.346898e-10 1 -1 -1.346898e-10 224.75 155.2915)"
                      class="st11 st12">100mm
                </text>
            </g>
            <g id="Esquerda" class="st9">
                <rect id="Puxador-esq-int" x="25.8" y="33.6" class="st10" width="3" height="280.2"/>
                <rect id="Puxador-esq-trecho" x="25.8" y="148.7" class="st10" width="3" height="50"/>
                <text id="tamanho-puxador-esq" transform="matrix(4.489659e-11 -1 1 4.489659e-11 23.0441 192.9355)"
                      class="st11 st12">100mm
                </text>
            </g>
            <g id="Inferior_1_" class="st9">
                <rect id="Puxador-sup-int_1_" x="33.8" y="320.2" class="st10" width="178.9" height="3"/>
                <rect id="Puxador-sup-trecho_1_" x="98.3" y="320.2" class="st10" width="50" height="3"/>
                <text id="tamanho-puxador-inf" transform="matrix(1 0 0 1 106.0433 334.0926)" class="st11 st12">100mm
                </text>
            </g>
        </g>
        <g id="Perfis_Puxadores" class="">
            <g id="PerfilPux_Superior" class="st3">
                <polygon id="Barra_2_" class="st10" points="212.9,33.6 212.9,27 33.9,27 33.9,33.6 34,33.6 36.4,36 49.2,48.8 197.7,48.8
                                    210.5,36 			"/>
                <polygon id="Acabamento-Int" class="st13"
                         points="49.2,48.8 197.7,48.8 195.4,51.2 51.6,51.2 			"/>
                <rect id="Acabamento-ext_2_" x="33.9" y="27.1" class="st13" width="179" height="1.9"/>
            </g>
            <g id="PerfilPux_Direita_1_" class="st3">
                <polygon id="barra_1_" class="st10" points="212.7,33.6 212.7,33.6 210.3,36 197.5,48.8 197.5,298.7 210.3,311.5 212.7,313.8
                                    212.7,313.8 216.5,313.8 216.5,33.6 			"/>
                <polygon id="acabamento-int_3_" class="st13"
                         points="195.2,296.3 197.5,298.7 197.5,48.8 195.2,51.2 			"/>
                <rect id="Acabamento-ext" x="216.5" y="33.6" class="st13" width="1.9" height="280.2"/>
            </g>
            <g id="PerfilPux_Esquerda_1_" class="st3">
                <polygon id="barra_2_" class="st10" points="34,313.8 34,313.8 36.4,311.4 49.2,298.6 49.2,48.7 36.4,35.9 34,33.6 34,33.6
                                    30.2,33.6 30.2,313.8 			"/>
                <polygon id="acabamento-int_1_" class="st13"
                         points="51.5,51.1 49.2,48.7 49.2,298.6 51.5,296.2 			"/>
                <rect id="Acabamento-ext_1_" x="28.2" y="33.6" class="st13" width="1.9" height="280.2"/>
            </g>
            <g id="PerfilPux_Inferior_1_" class="st3">
                <polygon id="Barra_3_" class="st10" points="33.9,313.8 33.9,320.3 212.9,320.3 212.9,313.8 212.8,313.8 210.4,311.4
                                    197.6,298.6 49.1,298.6 36.3,311.4 			"/>
                <polygon id="Acabamento-Int_1_" class="st13"
                         points="197.6,298.6 49.1,298.6 51.4,296.2 195.2,296.2 			"/>
                <rect id="Acabamento-ext_3_" x="33.9" y="318.5" class="st13" width="179" height="1.9"/>
            </g>
        </g>
        <g id="Medida_Desenho" class="">
        <text id="medida-pe-largura" transform="matrix(1 0 0 1 101.2962 372.7368)" class="st9 st11 st12"></text>
        <text id="medida-pe-altura" transform="matrix(4.489659e-11 -1 1 4.489659e-11 288.3225 196.0137)" class="st9 st11 st12"></text>
        <polygon id="traco-pe-altura" class="st9 traco-pe-altura" points="282.5,37.1 282.5,33.6 265.3,33.6 265.3,37.1 272.4,37.1 272.4,310.3
                            265.3,310.3 265.3,313.8 282.5,313.8 282.5,310.3 275.4,310.3 275.4,37.1"/>
        <polygon id="Medida-pe-largura" class="st9" points="36.1,349.1 33.9,349.1 33.9,366.2 36.1,366.2 36.1,359.1 210.5,359.1
                            210.5,366.2 212.8,366.2 212.8,349.1 210.5,349.1 210.5,356.1 36.1,356.1"/>
    </g>
    </g>

</svg>