<!--                menu para divisoria ambiente-->
                <div id="divambiente" class="hidden">
                    <!--Linha Superior-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divsuperior">
                            <label>
                                Superior:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientesuperior">
                            </select>
                        </div>
                    </div>
<!--                    Linha Inferior-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divinferior">
                            <label>
                                Inferior:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambienteinferior">
                            </select>
                        </div>
                    </div>
<!--                    Linha Lateral-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divlateral">
                            <label>
                                Lateral:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientelateral">
                            </select>
                        </div>
                    </div>
<!--                    Linha Divisor Ambiente-->
                    <div class="mx-3" id="divambientedivisor">
                            <label>
                                Divisor:
                            </label>
                            <div class="d-flex">
                                <select class="form-control custom-input-divisorias" id="Selectambientedivisor">
                                </select>
                                <div class="d-flex">
                                    <select class="form-control custom-input-qtd flex-grow-1 ms-1" id="qtd-divisorambiente">
                                    </select>
                                </div>
                            </div>
                        </div>
<!--                    Linha Vidro Ambiente-->
                    <div class="mx-3">
                        <div class="justify-content-start" id="divambientevidro">
                            <label>
                                Vidro:
                            </label>
                            <select class="form-control custom-input-divisorias" id="Selectambientevidro">
                            </select>
                        </div>
                    </div>
                </div>