<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addModalPerfil" {% endblock modal-id %} tabindex="-1" role="dialog"
     aria-labelledby="addModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-extra-large" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp;
                    Cadastrar Perfil {% endblock modal-title %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Form -->
            <form {% block action %} action="{% url 'cadastrar-perfil' %}" {% endblock action %} method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">
                    <!--===== Block ID (denied here) ====-->
                    {% block value-id %}{% endblock value-id %}
                    <div class="form-check form-switch d-flex justify-content-end mb-2 mx-2">
                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                        <input class="form-check-input ms-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="ativo" {% if not perfil.pk %}checked{% endif %} {% if perfil.ativo %}checked{% endif %}>
                    </div>
                    <div class="row mx-2">
                        <div class="col-2">
                            <Label for="id_codigo">Codigo</Label>
                            <input type="text" class="form-control" name="codigo" id="id_codigo" maxlength="6" required {% block value-codigo %}{% endblock value-codigo %}>
                        </div>
                        <div class="col-8">
                            <Label for="id_descricao">Descricao</Label>
                            <input type="text" name="descricao" class="text-input form-control" required id="id_descricao"{% block value-descricao %}{% endblock value-descricao %}>
                        </div>
                        <div class="col-2">
                            <Label for="id_preco">Preco</Label>
                            <input type="text" class="form-control" name="preco" id="id_preco" required {% block value-preco %}{% endblock value-preco %}>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="col" id="idacabamentoperfil" name="acabamento" value="{{acabamento.id}}">
                            <div id="div_id_acabamento" class="mb-3">
                                <label for="id_acabamento">Acabamento</label>
                                <select class="select form-select" id="id_acabamento" name="acabamento" required>
                                    <option>-------</option>
                                    {% for acabamento in acabamentos %}
                                    <option value="{{ acabamento.id }}" {% if acabamento.id == perfil.acabamento_id %} selected {% endif %}>{{ acabamento.acabamento }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label for="tipo">Tipo</label>
                            <select class="form-select" id="tipo" name="tipo" required>
                                <option value="">-------</option>
                                {% for tipo in tipos %}
                                <option value="{{ tipo.id }}" {% if tipo.id == perfil.tipo_id %} selected {% endif %}>{{ tipo.tipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="tipo">Modelo</label>
                            <select class="form-select" id="modelo" name="modelo" required>
                                <option value="">-------</option>
                                {% for modeloperfil in modelo %}
                                <option value="{{ modeloperfil.id }}" {% if modeloperfil.id == perfil.modelo_id %} selected {% endif %}>{{ modeloperfil.modelo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <label class="form-check-label d-block mb-1" for="vidropolido">Vidro Polido</label>
                                <input class="form-check-input ms-2" type="checkbox" role="switch" id="vidropolido" name="vidropolido" style="width: 40px; height: 20px;" {% if perfil.vidropolido %}checked{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="bg-secondary text-white border border-dark d-flex align-items-center justify-content-center medidas-bar mt-3">
                        <span><strong>MEDIDAS</strong></span>
                    </div>
                    <div class="row justify-content-between mx-2 mt-1">
                        <div class="col-2">
                            <Label>Largura Perfil</Label>
                            <input class="form-control" id="id_largura_perfil" name="largura_perfil" required {% block value-largura_perfil %}{% endblock value-largura_perfil %}>
                        </div>
                        <div class="col-2">
                            <Label>Aba Perfil</Label>
                            <input type="text" class="form-control" id="{{ perfil.aba_perfil }}" name="aba_perfil" required {% block value-aba_perfil %}{% endblock value-aba_perfil %}>
                        </div>
                        <div class="col-2">
                            <Label>Desconto Vidro</Label>
                            <input type="text" class="form-control" id="{{ perfil.desconto_vidro }}" name="desconto_vidro" required {% block value-desconto_vidro %}{% endblock value-desconto_vidro %}>
                        </div>
                        <div class="col-2">
                            <Label>Largura Puxador</Label>
                            <input type="text" class="form-control" id="{{ perfil.largura_puxador }}" name="largura_puxador" required {% block value-largura_puxador %}{% endblock value-largura_puxador %}>
                        </div>
                        <div class="col-2">
                            <Label>Aba Puxador</Label>
                            <input type="text" class="form-control" id="{{ perfil.aba_puxador }}" name="aba_puxador" required {% block value-aba_puxador %}{% endblock value-aba_puxador %}>
                        </div>
                    </div>
                    <div class="bg-secondary text-white border border-dark d-flex align-items-center justify-content-center mt-3">
                        <span><strong>ENCAIXES</strong></span>
                    </div>
                    <div class="row mx-2 d-flex justify-content-between">
                        <div class="col border rounded mt-2 pb-2">
                            <label>Perfil Puxador</label>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" name="encaixe" id="id_permite_perfil_puxador" value="{% if perfil.encaixe %}{{perfil.encaixe}}{% else %}2{% endif %}" {% if perfil.encaixe == "1" %}checked{% endif %}>
                            </div>
                            <div id="idperfilpuxador" name="perfilpuxador" data-initial-puxador="{{ perfilpuxador_ids }}">
                                {% for perfilpuxador in perfilpuxador %}
                                    <div>
                                        <input type="checkbox" id="perfilpuxador_{{ perfilpuxador.id }}" value="{{ perfilpuxador.id }}" class="form-check-input" {% if perfilpuxador.id in perfilpuxador_ids %}checked{% endif %}>
                                        <label for="perfilpuxador_{{ perfilpuxador.id }}" class="form-check-label ps-1">({{ perfilpuxador.codigo }}) {{ perfilpuxador.descricao }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col border rounded mt-2 mx-2 pb-2">
                            <label>Divisor</label>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" name="encaixedivisor" id="id_permite_divisor" value="{% if perfil.encaixedivisor %}{{perfil.encaixedivisor}}{% else %}2{% endif %}" {% if perfil.encaixedivisor == "1" %}checked{% endif %}>
                            </div>
                            <div id="testeencaixediv2">
                            </div>
                        </div>
                        <div class="col border rounded mt-2 pb-2">
                            <label>Puxador</label>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" name="encaixepuxador" id="id_permite_puxador" value="{% if perfil.encaixepuxador %}{{perfil.encaixepuxador}}{% else %}2{% endif %}"  {% if perfil.encaixepuxador == "1" %}checked{% endif %}>
                            </div>
                            <div id="testeencaixediv3">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end my-2 mx-2">
                        <a href="{% url 'listar-perfil' %}" class="btn btn-outline-dark me-1" style="width:100px;">Cancelar</a>
                        <button type="submit" class="btn btn-outline-primary" style="width: 100px;">
                            {% if perfil.id %}
                            Salvar
                            {% else %}
                            Cadastrar
                            {% endif %}
                        </button>
                    </div>

                    <!-- ==== Block btn save-hidden (denied here) ===== -->
                    {% block btn-saveHidden %}{% endblock btn-saveHidden%}

                    {% block save-changes %}{% endblock save-changes%}

                </div>
            </form>
        </div>
    </div>
</div>

<style>
/* Defina as dimensões do modal extra grande */
.modal-extra-large {
    max-width: 70%;
    margin: 1.75rem auto;
}

/* Adicione um estilo de overflow para lidar com o conteúdo que ultrapassa as dimensões do modal */
.modal-extra-large .modal-content {
    overflow-y: auto;
}
</style>
