{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block titulo %}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
<h3 class="fs-2 fw-semibold">Cadastro</h3>
<hr>
<div>
    <form class="card p-3 mt-5" autocomplete="off" action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">{{ form.codigo|as_crispy_field }}</div>
            <div class="col-8">{{ form.descricao|as_crispy_field }}</div>
            <div class="col-2">{{ form.preco|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4" id="idacabamentoperfil" name="acabamento" value="{{acabamento.id}}">{{ form.acabamento|as_crispy_field }}</div>
            <div class="col-4">{{ form.tipo|as_crispy_field }}</div>
            <div class="col-4">{{ form.modelo|as_crispy_field }}</div>
        </div>
        <div class="row p-3">
            <div class="col-4 border">
                <div class="pt-1" type="radio" name="encaixe" id="idpermiteperfilpuxador">
                    {{ form.encaixe|as_crispy_field }}
                </div>
                <div class="" id="idperfilpuxador" name="perfilpuxador" data-initial-puxador="{{ perfil_puxador_ids }}">
                    <div class="form-check" {% if form.instance.encaixe == '1' %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                        <input type="checkbox" name="perfil_puxador" id="perfil_puxador_{{ perfil_puxador.id }}"
                               value="{{ perfil_puxador.id }}" class="form-check-input" {% if perfil_puxador in
                               form.initial.perfil_puxador.all %}checked>
                        <label for="perfil_puxador_{{ perfil_puxador.id }}" class="form-check-label">{{ perfil_puxador.descricao }}</label>
                    </div>
                </div>
            </div>
            <div class="col-4 border">
                <div class="pt-1" type="radio" name="encaixedivisor" id="idpermitedivisor">{{ form.encaixedivisor|as_crispy_field }}</div>
                <div class="" id="iddivisor" name="divisor" {% if form.instance.encaixedivisor == '1' %}style="display: block;"{% else %}style="display: none;"{% endif %}>{{ form.divisor|as_crispy_field }}</div>
            </div>
            <div class="col-4 border">
                <div class="pt-1" type="radio" name="encaixepuxador" id="idpermitepuxador">{{ form.encaixepuxador|as_crispy_field }}</div>
                <div class="" id="idpuxador" name="puxadorsobreposto" {% if form.instance.encaixepuxador == '1' %}style="display: block;"{% else %}style="display: none;"{% endif %}>{{ form.puxadorsobreposto|as_crispy_field }}</div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary" style="width: 100px;">Cadastrar</button>
        </div>
    </form>
</div>


<script>
$(document).ready(function() {
    function filtrarResultados() {
        var acabamento = $('#id_acabamento').val();
        var encaixePerfilPuxadorSim = $('input[name="encaixe"]:checked').val() === '1';
        var encaixeDivisorSim = $('input[name="encaixedivisor"]:checked').val() === '1';
        var encaixePuxadorSim = $('input[name="encaixepuxador"]:checked').val() === '1';

        var resultadosPerfilPuxador = $('#idperfilpuxador');
        var resultadosDivisor = $('#iddivisor');
        var resultadosPuxador = $('#idpuxador');

        resultadosPerfilPuxador.empty();
        resultadosDivisor.empty();
        resultadosPuxador.empty();

        var perfilPuxadorIds = resultadosPerfilPuxador.data('initial-puxador');
        var divisorIds = resultadosDivisor.data('initial-divisor');
        var puxadorIds = resultadosPuxador.data('initial-puxador');

        if (encaixePerfilPuxadorSim) {
            $.ajax({
                url: '{% url 'filtrar_acabamento' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_perfil_puxador_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'perfil_puxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (perfilPuxadorIds && perfilPuxadorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosPerfilPuxador.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosPerfilPuxador.hide();
        }

        if (encaixeDivisorSim) {
            $.ajax({
                url: '{% url 'filtrar_divisor' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_divisor_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'divisor').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (divisorIds && divisorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosDivisor.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosDivisor.hide();
        }

        if (encaixePuxadorSim) {
            $.ajax({
                url: '{% url 'filtrar_puxador' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_puxador_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'puxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (puxadorIds && puxadorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosPuxador.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosPuxador.hide();
        }
    }

    $('#id_acabamento, input[name="encaixe"], input[name="encaixedivisor"], input[name="encaixepuxador"]').on('change', function() {
        filtrarResultados();
    });

    // Chamar a função filtrarResultados inicialmente
    filtrarResultados();
});

</script>

<script>
$(document).ready(function() {
  $('input[name="encaixe"]').on('change', function() {
    var valorSelecionado1 = $('input[name="encaixe"]:checked').val();

    // Controlar a primeira div
    if (valorSelecionado1 === '1') {
      $('#idperfilpuxador').show();
      $('#iddivisor').empty(); // Limpa a div correspondente ao botão de rádio de divisor
      $('#idpuxador').empty(); // Limpa a div correspondente ao botão de rádio de puxador
    } else {
      if (!$('#idperfilpuxador').is(':hidden')) {
        $('#idperfilpuxador').empty(); // Limpa a div somente se estiver visível
      }
    }
  });
});

$(document).ready(function() {
  $('input[name="encaixedivisor"]').on('change', function() {
    var valorSelecionado1 = $('input[name="encaixedivisor"]:checked').val();

    // Controlar a segunda div
    if (valorSelecionado1 === '1') {
      $('#iddivisor').show();
      $('#idperfilpuxador').empty(); // Limpa a div correspondente ao botão de rádio de perfil puxador
      $('#idpuxador').empty(); // Limpa a div correspondente ao botão de rádio de puxador
    } else {
      if (!$('#iddivisor').is(':hidden')) {
        $('#iddivisor').empty(); // Limpa a div somente se estiver visível
      }
    }
  });
});

$(document).ready(function() {
  $('input[name="encaixepuxador"]').on('change', function() {
    var valorSelecionado1 = $('input[name="encaixepuxador"]:checked').val();

    // Controlar a terceira div
    if (valorSelecionado1 === '1') {
      $('#idpuxador').show();
      $('#idperfilpuxador').empty(); // Limpa a div correspondente ao botão de rádio de perfil puxador
      $('#iddivisor').empty(); // Limpa a div correspondente ao botão de rádio de divisor
    } else {
      if (!$('#idpuxador').is(':hidden')) {
        $('#idpuxador').empty(); // Limpa a div somente se estiver visível
      }
    }
  });
});
</script>

{% endblock %}

