{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
<h3 class="fs-2 fw-semibold">Cadastro</h3>
<hr>
<div>
    <form class="card p-3 mt-5" autocomplete="off" action="{% if form.instance.id %}{% url 'editar-perfilpuxador' form.instance.id %}{% else %}{% url 'cadastrar-perfilpuxador' %}{% endif %}" method="POST">
        {% csrf_token %}
        <div class="form-check form-switch d-flex justify-content-end mb-2">
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
          <input class="form-check-input ms-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="ativo" {% if form.instance.ativo %}checked{% endif %}>
        </div>
        <div class="row">
            <div class="col-2">{{ form.codigo|as_crispy_field }}</div>
            <div class="col-8">{{ form.descricao|as_crispy_field }}</div>
            <div class="col-2">{{ form.preco|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{ form.acabamento|as_crispy_field }}</div>
            <div class="col-4">{{ form.tipo|as_crispy_field }}</div>
            <div class="col-4">{{ form.modelo|as_crispy_field }}</div>
        </div>
         <div class="row justify-content-between mb-3">
            <div class="col-2">{{ form.largura_perfil|as_crispy_field }}</div>
            <div class="col-2">{{ form.aba_perfil|as_crispy_field }}</div>
            <div class="col-2">{{ form.desconto_vidro|as_crispy_field }}</div>
            <div class="col-2">{{ form.largura_puxador|as_crispy_field }}</div>
            <div class="col-2">{{ form.aba_puxador|as_crispy_field }}</div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'listar-perfilpuxador' %}" class="btn btn-outline-dark me-1" style="width:100px;">Cancelar</a>
            <button type="submit" class="btn btn-outline-primary" style="width: 100px;">
                {% if form.instance.id %}
                    Salvar
                {% else %}
                    Cadastrar
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}