{% extends 'cadastros/cadastroperfil.html' %}

<!-- Modal ID -->
{% block modal-id %} id="editModalPerfil{{ perfil.pk }}" {% endblock modal-id %}

<!-- Modal title -->
{% block modal-title %}<i class="fas fa-edit"></i>&nbsp;&nbsp; Editar Perfil {{ perfil.codigo }} {% endblock modal-title %}

<!-- Form action -->
{% block action %} action="{% url 'editar-perfil' pk=perfil.pk %}" {% endblock action %}

<!-- Button Action (content) -->
{% block btn-action %}<button type="submit" class="btn btn-secondary mb-3 btn-action"><i class="fas fa-server"></i>&nbsp;&nbsp; Salvar </button>{% endblock btn-action %}

<!--====================================== ALL <inputs>  ======================================-->
<!-- ID -->

<!-- CODIGO -->
{% block value-codigo %} value="{{ perfil.codigo }}" {% endblock value-codigo %}
<!-- DESCRIÇAO -->
{% block value-descricao %} value="{{ perfil.descricao }}" {% endblock value-descricao %}
<!-- PREÇO -->
{% block value-preco %} value="{{ perfil.preco }}" {% endblock value-preco %}
<!-- ACABAMENTO -->
{% block value-acabamento %} value="{{ perfil.acabamento_id }}" {% endblock value-acabamento %}
<!-- TIPO -->
{% block value-tipo %} value="{{ perfil.tipo_id }}" {% endblock value-tipo %}
<!-- MODELO -->
{% block value-modelo %} value="{{ perfil.modeloperfil_id }}" {% endblock value-modelo %}
<!-- LARGURA PERFIL -->
{% block value-largura_perfil %} value="{{ perfil.largura_perfil }}" {% endblock value-largura_perfil %}
<!-- ABA PERFIL -->
{% block value-aba_perfil %} value="{{ perfil.aba_perfil }}" {% endblock value-aba_perfil %}
<!-- DESCONTO VIDRO -->
{% block value-desconto_vidro %} value="{{ perfil.desconto_vidro }}" {% endblock value-desconto_vidro %}
<!-- LARGURA PUXADOR -->
{% block value-largura_puxador %} value="{{ perfil.largura_puxador }}" {% endblock value-largura_puxador %}
<!-- ABA PUXADOR -->
{% block value-aba_puxador %} value="{{ perfil.aba_puxador }}" {% endblock value-aba_puxador %}
<!-- ENCAIXE PERFIL -->
{% block value-encaixe %} value="{{ perfil.encaixe }}" {% endblock value-encaixe %}
<!-- ENCAIXE DIVISOR -->
{% block value-encaixedivisor %} value="{{ perfil.encaixedivisor }}" {% endblock value-encaixedivisor %}
<!-- ENCAIXE PUXADOR -->
{% block value-encaixepuxador %} value="{{ perfil.encaixepuxador }}" {% endblock value-encaixepuxador %}
<!--====================================== END // ALL <inputs>  ======================================-->

<!-- Content hidden (needed to compare the information -->
{% block save-changes %}
<div class="text-center mt-5" style="display:none">
    <input id="codigo2" value="{{ perfil.codigo }}">
    <input id="descricao2" value="{{ perfil.descricao }}">
    <input id="preco2" value="{{ perfil.preco }}">
    <input id="acabamento2" value="{{ perfil.acabamento }}">
    <input id="tipo2" value="{{ perfil.tipo }}">
    <input id="modelo2" value="{{ perfil.modelo }}">
    <input id="largura_perfil2" value="{{ perfil.largura_perfil }}">
    <input id="aba_perfil2" value="{{ perfil.aba_perfil }}">
    <input id="desconto_vidro2" value="{{ perfil.desconto_vidro }}">
    <input id="largura_puxador2" value="{{ perfil.largura_puxador }}">
    <input id="encaixe2" value="{{ perfil.encaixe }}">
    <input id="encaixedivisor2" value="{{ perfil.encaixedivisor }}">
    <input id="encaixepuxador2" value="{{ perfil.encaixepuxador }}">
</div>
{% endblock save-changes %}

<!-- Confirm save changes (Note: Not delete the "type="button", because will not work well) -->
{% block btn-saveHidden %}
<button id="modal-confirm" type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#saveModal"></button>
{% endblock btn-saveHidden %}

<!-- ID back here (and denied in add.html) -->
{% block btn-back %} id="btn-back" {% endblock btn-back %}

