{% extends 'base.html' %}

{% load static %}
{% block titulo %}
Cadastro Perfil
{% endblock %}

<!-- Page content -->
{% block content %}
<div class="container">

    <br><br>

    <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addModalPerfil">
        <i class="fas fa-plus"></i>&nbsp;&nbsp; Adicionar Perfil
    </a>

    <!-- Input search + reset buton -->
    <div class="input-group input-group-sm mb-3 mt-3">
        <input type="text" class="form-control" id="search" placeholder="Buscar...">
        <a href="{% url 'listar-perfil' %}" class="btn btn-dark" style="margin-left:2px;"><i class="fas fa-sync-alt"></i></a>
    </div>

    <table class="table table-bordered table-sm mt-3" id="myTable" style="text-align: center; font-size: 14px;">
        <thead class="table-warning">
            <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Descrição</th>
                <th scope="col ">Preço</th>
                <th scope="col ">Acabamento</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Modelo</th>
                <th scope="col ">Perfil Puxador</th>
                <th scope="col ">Divisor</th>
                <th scope="col ">Puxador Sobreposto</th>
                <th scope="col ">Editar</th>
                <th scope="col ">Excluir</th>
            </tr>
        </thead>
        <!-- Back-end data -->
        {% for perfil in object_list %}
        <tr {% if not perfil.ativo %}class="inactive" {% endif %}>
            <td>{{ perfil.codigo }}</td>
            <td>{{ perfil.descricao }}</td>
            <td>R$ {{ perfil.preco }}</td>
            <td>{{ perfil.acabamento }}</td>
            <td>{{ perfil.tipo }}</td>
            <td>{{ perfil.modelo }}</td>
            <td>
                {% if perfil.encaixe == "1" %}
                <p>Sim</p>
                {% else %}
                <p>Não</p>
                {% endif %}
            </td>
            <td>
                {% if perfil.encaixedivisor == "1" %}
                <p>Sim</p>
                {% else %}
                <p>Não</p>
                {% endif %}
            </td>
            <td>
                {% if perfil.encaixepuxador == "1" %}
                <p>Sim</p>
                {% else %}
                <p>Não</p>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-warning" title="Editar perfil" data-bs-toggle="modal"
                   data-bs-target="#editModalPerfil{{ perfil.pk }}" data-product-id="{{ perfil.pk }}">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary delete-btn" data-bs-toggle="modal"
                   data-bs-target="#confirmDeleteModal{{ perfil.pk }}" data-product-id="{{ perfil.pk }}" title="Deletar perfil">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <!-- Include (Required here to get the OK) -->
            {% include 'cadastros/editperfil.html' %}

            <!-- Include (Required here to get the OK) -->
            {% include 'cadastros/confirmDeleteModal.html' %}
        </tr>
        {% empty %}
            <tr>
                <td colspan="10">Nenhum Perfil cadastrado</td>
            </tr>
        {% endfor %}



    </table>


</div> <!-- END // container -->

<span class="text-danger" id="no-data"></span>

<!-- Message from backend -->
{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m = "{{ message }}";
        swal("Perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}

<!-- Include (Required here to get the OK) -->
        {% include 'cadastros/cadastroperfil.html' %}

<!-- Include (Required here to get the OK) -->
        {% include 'cadastros/saveModal.html' %}




<script>
$(document).ready(function() {
    var acabamento;

    $(document).on('change', '#id_acabamento', function() {
        limparCamposEncaixe();
        $('#id_permite_perfil_puxador').prop('checked', false);
        $('#id_permite_divisor').prop('checked', false);
        $('#id_permite_puxador').prop('checked', false);
        document.getElementById('flexSwitchCheckChecked').checked = false;
        document.getElementById('flexSwitchCheckChecked').removeAttribute('checked');
        console.log("ATIVO DESMARCADO")

        acabamento = $(this).val();
    });

    // Evento de mudança no botão de switch de perfil puxador
    $(document).on('click', '#id_permite_perfil_puxador', function() {
        if ($(this).is(':checked')) {
            $(this).val("1").prop('checked', true);
            if (acabamento) {
                filtrarPerfilPuxador();
            }
        } else {
            $(this).val("2").prop('checked', false);
            $('#addModalPerfil').find('#idperfilpuxador').html('');
        }
    });

    // Evento de mudança no botão de switch de divisor
    $(document).on('click', '#id_permite_divisor', function() {
        if ($(this).is(':checked')) {
            $(this).val("1").prop('checked', true);
            if (acabamento) {
                filtrarDivisor();
            }
        } else {
            $(this).val("2").prop('checked', false);
            $('#addModalPerfil').find('#testeencaixediv2').html('');
        }
    });

    // Evento de mudança no botão de switch de puxador
    $(document).on('click', '#id_permite_puxador', function() {
        if ($(this).is(':checked')) {
            $(this).val("1").prop('checked', true);
            if (acabamento) {
                filtrarPuxador();
            }
        } else {
            $(this).val("2").prop('checked', false);
            $('#addModalPerfil').find('#testeencaixediv3').html('');
        }
    });

    function filtrarPerfilPuxador() {
        $.ajax({
            url: '{% url 'filtrar_perfil' %}',
            type: 'GET',
            data: {
                acabamento: acabamento
            },
            success: function(response) {
                var resultadosPerfilPuxador = $('#idperfilpuxador');
                resultadosPerfilPuxador.empty(); // Limpa o conteúdo atual

                // Itera sobre os resultados e adiciona checkboxes para cada perfil de puxador
                $.each(response, function(index, item) {
                    var checkboxId = 'checkbox_perfilpuxador_' + item.id;
                    var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                    var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'perfilpuxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');
                    var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);

                    resultadosPerfilPuxador.append(checkboxDiv);
                });

                // Inserir os valores no modal
                inserirValoresNoModal(resultadosPerfilPuxador.html());
            },
            error: function(xhr) {
                console.log("Erro na requisição AJAX:", xhr.statusText);
            }
        });
    }

    function filtrarDivisor() {
        $.ajax({
            url: '{% url 'filtrar_divisor' %}',
            type: 'GET',
            data: {
                acabamento: acabamento
            },
            success: function(response) {
                var resultadosDivisor = $('#testeencaixediv2');
                resultadosDivisor.empty();

                $.each(response, function(index, item) {
                    var checkboxId = 'divisor_' + item.id;
                    var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                    var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'divisor').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');
                    var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);

                    resultadosDivisor.append(checkboxDiv);
                });

                // Inserir os valores no modal
                inserirDivisoresNoModal(resultadosDivisor.html());
            },
            error: function(xhr) {
                console.log("Erro na requisição AJAX:", xhr.statusText);
            }
        });
    }

    function filtrarPuxador() {
        $.ajax({
            url: '{% url 'filtrar_puxador' %}',
            type: 'GET',
            data: {
                acabamento: acabamento
            },
            success: function(response) {
                var resultadosPuxador = $('#testeencaixediv3');
                resultadosPuxador.empty();

                $.each(response, function(index, item) {
                    var checkboxId = 'puxador_' + item.id;
                    var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                    var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'puxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');
                    var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);

                    resultadosPuxador.append(checkboxDiv);
                });

                // Inserir os valores no modal
                inserirPuxadoresNoModal(resultadosPuxador.html());
            },
            error: function(xhr) {
                console.log("Erro na requisição AJAX:", xhr.statusText);
            }
        });
    }

    // Função para limpar os campos quando o checkbox de encaixe é desmarcado
    function limparCamposEncaixe() {
        $('#addModalPerfil').find('#idperfilpuxador').html('');
        $('#addModalPerfil').find('#testeencaixediv2').html('');
        $('#addModalPerfil').find('#testeencaixediv3').html('');
    }

    // Função para inserir os valores no modal
    function inserirValoresNoModal(html) {
        $('#addModalPerfil').find('#idperfilpuxador').html(html);
    }

    function inserirDivisoresNoModal(html) {
        $('#addModalPerfil').find('#testeencaixediv2').html(html);
    }

    function inserirPuxadoresNoModal(html) {
        $('#addModalPerfil').find('#testeencaixediv3').html(html);
    }
});

</script>

<script>
$(document).ready(function() {
    function filtrarResultados() {
        var acabamento = $('#id_acabamento').val();
        var encaixePerfilPuxadorSim = $('input[name="encaixe"]:checked').val() === '1';
        var encaixeDivisorSim = $('input[name="encaixedivisor"]:checked').val() === '1';
        var encaixePuxadorSim = $('input[name="encaixepuxador"]:checked').val() === '1';

        var resultadosPerfilPuxador = $('#idperfilpuxador');
        var resultadosDivisor = $('#iddivisor');
        var resultadosPuxador = $('#idpuxador');

        resultadosPerfilPuxador.empty();
        resultadosDivisor.empty();
        resultadosPuxador.empty();

        var perfilPuxadorIds = resultadosPerfilPuxador.data('initial-puxador');
        var divisorIds = resultadosDivisor.data('initial-divisor');
        var puxadorIds = resultadosPuxador.data('initial-puxador');

        if (encaixePerfilPuxadorSim) {
            $.ajax({
                url: '{% url 'filtrar_perfil' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_perfil_puxador_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'perfil_puxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (perfilPuxadorIds && perfilPuxadorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosPerfilPuxador.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosPerfilPuxador.hide();
        }

        if (encaixeDivisorSim) {
            $.ajax({
                url: '{% url 'filtrar_divisor' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_divisor_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'divisor').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (divisorIds && divisorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosDivisor.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosDivisor.hide();
        }

        if (encaixePuxadorSim) {
            $.ajax({
                url: '{% url 'filtrar_puxador' %}',
                type: 'GET',
                data: {
                    acabamento: acabamento
                },
                success: function(response) {
                    $.each(response, function(index, item) {
                        var checkboxId = 'checkbox_puxador_' + item.id;
                        var checkboxLabel = $('<label>').attr('for', checkboxId).addClass('form-check-label').text(item.descricao);
                        var checkboxInput = $('<input>').attr('type', 'checkbox').attr('name', 'puxador').attr('id', checkboxId).attr('value', item.id).addClass('form-check-input');

                        var checkboxDiv = $('<div>').addClass('form-check').append(checkboxInput, checkboxLabel);
                        var option = $('<div>').append(checkboxDiv);

                        if (puxadorIds && puxadorIds.includes(item.id.toString())) {
                            checkboxInput.prop('checked', true);
                        }

                        resultadosPuxador.append(option);
                    });
                },
                error: function(xhr) {
                    console.log(xhr.statusText);
                }
            });

        } else {
            resultadosPuxador.hide();
        }
    }

    $('#id_acabamento, input[name="encaixe"], input[name="encaixedivisor"], input[name="encaixepuxador"]').on('change', function() {
        filtrarResultados();
    });

    // Chamar a função filtrarResultados inicialmente
    filtrarResultados();
});

</script>


{% endblock content %}
