{% extends 'base.html' %}

{% block titulo %}
Cadastro Modelos
{% endblock %}

{% block content %}
<header class="mt-5 pt-3">
  <div>
      <div class="bg-warning rounded text-dark border border-dark container h-10 d-flex align-items-center justify-content-center">
        <h1><strong>CADASTRO DE MODELOS</strong></h1>
      </div>
  </div>
</header>
<div class="container mt-3">
  <div class="d-flex justify-content-between row">
<!--      ######### PERFIS ##########-->
      <div class="me-1 border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>PERFIS</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-perfil' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if object %}
                    {% for perfil in modeloperfil|dictsort:"modelo" %}
                    <tr>
                        <td>{{ perfil }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-perfil' perfil.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-perfil' perfil.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de perfil cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
      </div>
<!--      ######### PERFIS PUXADORES ##########-->
      <div class="border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>PERFIS PUXADORES</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-perfilpuxador' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for perfilpuxador in modeloperfilpuxador|dictsort:"modelo" %}
                    <tr>
                        <td>{{ perfilpuxador }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-perfilpuxador' perfilpuxador.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-perfilpuxador' perfilpuxador.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de perfil puxador cadastrado</td>
                    </tr>
                {% endif %}

            </tbody>
          </table>
    </div>
    <!--      ######### PUXADORES ##########-->
      <div class="border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>PUXADORES</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-puxador' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for puxador in modelopuxador|dictsort:"modelo" %}
                    <tr>
                        <td>{{ puxador }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-puxador' puxador.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-puxador' puxador.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de puxador cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
    </div>
        <!--      ######### DIVISORES ##########-->
      <div class="border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>DIVISORES</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-divisor' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for divisor in modelodivisor|dictsort:"modelo" %}
                    <tr>
                        <td>{{ divisor }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-divisor' divisor.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-divisor' divisor.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de divisor cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
    </div>
            <!--      ######### DIVISORIA DE AMBIENTE ##########-->
      <div class="border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>DIVISORIAS DE AMBIENTE</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-divisoriaambiente' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for divisoriaambiente in modelodivisoriaambiente|dictsort:"modelo" %}
                    <tr>
                        <td>{{ divisoriaambiente }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-divisoriaambiente' divisoriaambiente.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-divisoriaambiente' divisoriaambiente.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de divisoria de ambiente cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
    </div>
                <!--      ######### VIDRO ##########-->
      <div class="border-dark rounded border mb-3 col-3">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th>VIDROS</th>
                <th class="d-flex justify-content-end"><a href="{% url 'cadastrar-modelo-vidro' %}" style="width: 120px;" class="btn btn-primary bg-primary btn-sm">Novo</a></th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for vidro in modelovidro|dictsort:"modelo" %}
                    <tr>
                        <td>{{ vidro }}</td>
                        <td class="d-flex justify-content-end">
                            <a href="{% url 'editar-modelo-vidro' vidro.pk %}" class="me-1 btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-modelo-vidro' vidro.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor%}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum modelo de vidro cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
    </div>
  </div>
</div>
{% endblock %}