{% extends 'base.html' %}

{% block titulo %}
Cadastro de Perfis
{% endblock %}

{% block content %}
<header class="mt-5">
  <div>
      <div class="bg-warning rounded text-dark border border-dark pt-1 d-flex align-items-center justify-content-center">
        <h4><strong>CADASTRO DE PERFIS</strong></h4>
      </div>
      <div class="mt-2 d-flex align-items-center justify-content-end">
          <input type="email" class="form-control me-3" style="width: 500px;" id="" name="busca-perfil" placeholder="digite aqui">
          <a href="{% url 'cadastrar-perfil' %}" style="width: 120px;" class="btn btn-primary bg-primary">Novo</a>
      </div>
  </div>
</header>
<div class="mt-3">
  <div class="row">
      <div class="col-1">
      </div>
      <div class="border border-dark rounded container">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Descrição</th>
                <th scope="col ">Preço</th>
                <th scope="col ">Acabamento</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Modelo</th>
                <th scope="col ">Encaixe</th>
                <th scope="col ">Perfil Puxador</th>
                <th scope="col ">Encaixe Divisor</th>
                <th scope="col ">Divisor</th>
                <th scope="col ">Encaixe Puxador</th>
                <th scope="col ">Puxador Sobreposto</th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% for perfil in object_list %}
                <tr>
                    <td>{{ perfil.codigo }}</td>
                    <td>{{ perfil.descricao }}</td>
                    <td>R$ {{ perfil.preco }}</td>
                    <td>{{ perfil.acabamento }}</td>
                    <td>{{ perfil.tipo }}</td>
                    <td>{{ perfil.modelo }}</td>
                    <td>
                        {% if perfil.encaixe == "1" %}
                            <p>Sim</p>
                        {% else %}
                            <p>Não</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if perfil.perfilpuxador.all %}
                            {% for perfilpuxador in perfil.perfilpuxador.all %}
                                {{ perfilpuxador.codigo }};
                            {% endfor %}
                        {% else %}
                            ---------
                        {% endif %}
                    </td>
                    <td>
                        {% if perfil.encaixedivisor == "1" %}
                            <p>Sim</p>
                        {% else %}
                            <p>Não</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if perfil.divisor.all %}
                            {% for divisor in perfil.divisor.all %}
                                {{ divisor.codigo }};
                            {% endfor %}
                        {% else %}
                            ---------
                        {% endif %}
                    </td>
                    <td>
                        {% if perfil.encaixepuxador == "1" %}
                            <p>Sim</p>
                        {% else %}
                            <p>Não</p>
                        {% endif %}
                    </td>
                    <td>
                        {% for puxador in perfil.puxador.all %}
                            {{ puxador.codigo }};
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'editar-perfil' perfil.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                        <a href="{% url 'excluir-perfil' perfil.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">Nenhum Perfil cadastrado</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    <div class="col-1">
    </div>
  </div>
</div>
{% endblock %}