{% extends 'base.html' %}

{% block titulo %}
Cadastro de Perfis
{% endblock %}

{% block content %}
<header class="mt-5 pt-3">
  <div>
      <div class="bg-warning rounded text-dark border border-dark container h-10 d-flex align-items-center justify-content-center">
        <h1><strong>CADASTRO DE PERFIS</strong></h1>
      </div>
      <div class="mt-3 container h-10 d-flex align-items-center justify-content-end">
          <input type="email" class="form-control me-3" style="width: 500px;" id="exampleFormControlInput1" placeholder="digite aqui">
          <a href="{% url 'cadastrar-perfil' %}" style="width: 120px;" class="btn btn-primary bg-primary">Novo</a>
      </div>
  </div>
</header>
<div class="mt-3">
  <div class="row">
      <div class="col-1">
      </div>
      <div class="border border-dark rounded container">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Descrição</th>
                <th scope="col ">Preço</th>
                <th scope="col ">Acabamento</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Modelo</th>
                <th scope="col ">Encaixe</th>
                <th scope="col ">Puxador Sobreposto</th>
                <th scope="col ">Opções</th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% if object %}
                    {% for perfil in object_list %}
                    <tr>
                        <td>{{ perfil.codigo }}</td>
                        <td>{{ perfil.descricao }}</td>
                        <td>{{ perfil.preco }}</td>
                        <td>{{ perfil.acabamento }}</td>
                        <td>{{ perfil.tipo }}</td>
                        <td>{{ perfil.modelo }}</td>
                        <td>{{ perfil.encaixe }}</td>
                        <td>{{ perfil.puxadorsobreposto }}</td>
                        <td>{{ perfil.testando }}</td>
                        <td>
                            <a href="{% url 'editar-perfil' perfil.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                            <a href="{% url 'excluir-perfil' perfil.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">Nenhum Perfil cadastrado</td>
                    </tr>
                {% endif %}
            </tbody>
          </table>
      </div>
    <div class="col-1">
    </div>
  </div>
</div>
{% endblock %}