{% extends 'base.html' %}

{% block titulo %}
Cadastro de Perfis Puxadores
{% endblock %}

{% block content %}
<header class="mt-5">
  <div>
      <div class="bg-warning rounded text-dark border border-dark pt-1 d-flex align-items-center justify-content-center">
        <h4><strong>CADASTRO DE PERFIS PUXADORES</strong></h4>
      </div>
      <div class="mt-2 d-flex align-items-center justify-content-end">
          <input type="email" class="form-control me-3" style="width: 500px;" name="busca-perfilpuxador" placeholder="digite aqui">
          <a href="{% url 'cadastrar-perfilpuxador' %}" style="width: 120px;" class="btn btn-primary bg-primary">Novo</a>
      </div>
  </div>
</header>
<div class="mt-3">
  <div class="row">
      <div class="col-1">
      </div>
      <div class="border border-dark rounded container">
          <table class="mt-1 table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Descrição</th>
                <th scope="col ">Preço</th>
                <th scope="col ">Acabamento</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Modelo</th>
              </tr>
            </thead>
            <tbody class="table-group-divider ">
                {% for perfilpuxador in object_list %}
                <tr {% if not perfilpuxador.ativo %}class="inactive"{% endif %}>
                    <td>{{ perfilpuxador.codigo }}</td>
                    <td>{{ perfilpuxador.descricao }}</td>
                    <td>R$ {{ perfilpuxador.preco }}</td>
                    <td>{{ perfilpuxador.acabamento }}</td>
                    <td>{{ perfilpuxador.tipo }}</td>
                    <td>{{ perfilpuxador.modelo }}</td>
                    <td>
                        <a href="{% url 'editar-perfilpuxador' perfilpuxador.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                        <a href="{% url 'excluir-perfilpuxador' perfilpuxador.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">Nenhum Perfil Puxador cadastrado</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    <div class="col-1">
    </div>
  </div>
</div>

<style>
/* Estilize a linha da tabela quando estiver inativa */
tr.inactive td {
    background-color: #f7f7f7; /* Altere a cor de fundo da linha para cinza claro */
    color: #ccc; /* Define a cor do texto como cinza */
}
</style>
{% endblock %}